

{% extends 'base.html' %}


   {% block body %}
        <div class="container">
            <div class="col-md-9">
            <h1>My Courses</h1>
            
            
         
            {% for post in posts%}
                {%if post.user in friends%} 
               
                
               
               <h2>{{post.title}}</h2>
                <!--<p>{{post.user.get_full_name}} on {{post.created}}</p>
                <p>{{post.user.get_full_name}} By {{post.user}}</p>-->
                <h3><a href="{{post.post}}"> <ul>Click to start</ul></a></h3>
                
                
               
               
               {%endif%} 
            {%endfor%}
           
            </div>
            
            
        </div>



   {% endblock %}
