

{% extends 'base2.html' %}


   {% block body %}
        
 
 
 <main role="main">
      
    <h1>My Courses</h1>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            
         
            {% for post in posts%}
                {%if post.user in friends%} 
               
                
               
               <h2>{{post.title}}</h2>
                
                <h3>Theory: <a href="{{post.theory}}">Start</a></h3>
               <h3>Practicle: <a href="{{post.practicle}}">Start</a></h3>
               <p></p>
               <p>Exam</p>
               <p>Results and other Reports<p>
               
               
               {%endif%} 
            {%endfor%}
            
        
          </div>
          
        </div>

        <hr>

      </div> <!-- /container -->

    </main>       
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        



   {% endblock %}
