
{% extends 'base3.html' %}

 {% load staticfiles %}   


{% block body %}
      

  <br> <br> <br> 

       
                
                <div class="container"
     
            
                 <small><span class="caps">Course Registration</span></small>
                            <div class="line-sep"></div>
                
                 <div class="col-md-8">
					 	
                                                <div class="row">
							<div class="col-md-6">
                                                            <div class="jumbotron">
							<div class="text-left">	
                                                           <h1>Register</h1>
                                                            <form method="post">
                                                    
                                                                {% csrf_token%}
                                                                {{form.as_p}}
                                                            <!--<button type="submit" class="btn btn-follow btn-lg>submit</button>-->
                                                           <button type="submit" class="btn btn-follow ">
										 	Submit </button>
                                                            
                                                            </form>
                                               
                                                                
                                                                
                                                                
                                                                
                                                                
                                                        </div>        
							</div>
                                                        
                                                        

									
							</div>
                 </div></div>


    
        </div>
        
        

   {% endblock %}
