
<!--A Design by Noely 
Author: Noely
-->
<!DOCTYPE html>
<html>
<head>
<title>GIS | Intro ::</title>
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--css-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studies Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   


<!--js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--js-->

<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--webfonts-->
</head>

<body>	
		<!--content-->
	
                
                
                <div class="content">
			
			<!--about-->
			<div class="about-w3">
				<div class="container">
				       <h3 class="display-3"><span>How a GIS works!</span></h3>
					<div class="about-grids">
						<div class="col-md-6 about-grid">
						 <h4>A geographic Information System (GIS) is a system designed to capture, store, manipulate, analyze, manage, and present all types of geographical data.</h4>
							 <p>GIS integrates databases with the locations of features (maps tied to specific known locations). 
							 Geographic Information System (GIS) helps people visualize and create information that can be used to make decisions and solve problems. 
							 A geographic information system (GIS) lets us visualize, question, analyze, and interpret data to understand relationships, patterns, and trends of features and events. 
							 GIS benefits organizations of all sizes and in almost every industry.</br>
							 
							 A GIS (geographic or geospatial information system) allows us to record the information and show the location of anything(any feature) available on the earth(longitude or latitude) and then to add additional information of other features. 
							 The GIS then allows the individual layers, or themes as they are called to be linked. Analysis of the information can then be undertaken using the statistical and analytical tools that are provided as part of the GIS. 
							 
							 </p>							 
						 </div>
						<div class="col-md-6 video-grid">
							 By providing spatial analysis of suitably coded data it is possible to provide striking, visual representations of data.
							These representations can often reveal patterns and trends that might otherwise have gone unnoticed without the use of GIS techniques.
							Visual representations of this type can also be extended further so that more considered and objective means of measurement are applied. 
							Such approaches allow macro views to be taken in many fields. Epidemiologists are interested in the global spread of disease occurrence; criminologists are interested in local, national and international patters of criminal activity whilst geologists are interested in physical formations to predict earthquake activity and the availability of resources such as oil and gas. 
							None of these disciplines would be able to work as they currently do without the ability to apply analytical tools to otherwise disparate sets of data in the way a Geographical Information System permits. 
							The key word to this technology is Geography- this means that some portion of the data is spatial. n other words, data that is in some way referenced to locations on the earth. Coupled with this data is usually tabular data known as attribute data. 
							Attribute data can be generally defined as additional information about each of the spatial features. 
							An example of this would be a building. 
							The actual location of the bulding is the spatial data. Additional data such as the building name, owner, building capacity would make up the attribute data.
                            It is the partnership of these two data types that enables GIS to be such an effective problem solving tool through spatial analysis.
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="our-services-w3">
				<div class="container">					
					<div class="ourser-grids">
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro1.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>Map location</h4>
							<p>We can map the spatial location of real-world features and visualize the spatial relationships among them. 
							Example one: The map above illustrates the location of countries, rivers, and cities within the continent of Africa. 
							Locational maps can be used to determine where things are situated in relation to each other and are often used with navigation. 
							.</p>
						</div>
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro2.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>Map quantities </h4>
							<p>People map quantities, such as where the most and least are, 
							to find places that meet their criteria or to see the relationships between places. 
							Example: below is a map of cemetery locations in Wisconsin. The map shows the cemetery locations as dots (dot density) 
							and each county is color coded to show where the most and least are (lighter blue means fewer cemeteries)</p>
						</div>
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro3.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>Map what is inside </h4>
							<p>We can use GIS to determine what is happening or what features are located inside a specific area/region. 
							We can determine the characteristics of "inside" by creating specific criteria to define an area of interest (AOI).
                             This map illustrates school locations in relation to crime areas. 
							 Mapping what is inside can assist with monitoring and assessment. 
                            According to this map, schools located in Miami may be more at risk, because Miami has the highest number of crime reports</p>
						</div>
						
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro4.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>Map densities </h4>
							<p>Sometimes it is more important to map concentrations, or a quantity normalized by area or total number. 
							This map illustrates a higher population density in the southeast portion of Canada. 
							Density maps can be used to condense large amounts of data analyzed for correlations and trends. 
							Further analysis could be completed to determine if the denser population is related to the proximity of the border or the proximity of water bodies.</p>
						</div>
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro5.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>What is nearby. </h4>
							<p>We can find out what is happening within a set distance of a feature or event by mapping what is nearby using geoprocessing tools like BUFFER
							This map illustrates the proximity of JMill retail stores to county spending potential. 
							Mapping what is nearby is often used in risk assessment and predictions. 
							JMill predicts higher revenue in the Massachusetts, Connecticut, and Rhode Island stores, 
							because they are located within 20 miles of a higher potential spending index.</p>
						</div>
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="img/intro6.jpg" class="img-responsive zoom-img" />
							</div>
							<h4>Map change </h4>
							<p>We can map the change in a specific geographic area to anticipate future conditions, decide on a course of action, or to evaluate the results of an action or policy. 
							The map below illustrates population change over the past 10 years. 
							The largest population changes occurred in the western and southeastern states. 
							This can be used to assess future trends in urban sprawl and market demands.</p>
						</div>
						
						
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>	
		<!--content-->
		
		<!--footer-->
			<div class="footer-w3">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-4 footer-grid">
							<h4>What can you do with a GIS?</h4>
							<p>As previously discussed, a GIS uses geographic information to help users answer questions and make decisions. 
							One of the most common GIS formats is a map. 
							<span>Shown here are real-world examples of GIS maps that have been formatted to analyze trends, 
							find relationships, and assist with future decisions.</span></p>
						</div>
					
						<div class="col-md-8 footer-grid">
						<h4>Information</h4>
						<p> GIS is more than just software. People and methods are combined with geospatial software and tools, to enable spatial analysis, management large datasets, and the display of information in a map/graphical form.
                            Whether you are searching location for ATM machine on the Internet or you are mapping bus routes, you can use a GIS to get the information you need. 
GIS provides tools to find, use, create, and share geographic information with others. 
For example, you can locate offices for each of your customers, share this information with your coworkers, and work together to build a customer profile.
The functionality and versatility of a GIS depends on the system itself. 
                            A GIS integrates hardware, software, data, people, and workflows into its comprehensive package. 
                           These components are integrated into the geographic information system in order to answer questions, make decisions and provide tool to create share and use geographic information. </p>
							<ul>
								<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>Software is used to store, analyze and display geographic data.</li>
								<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>Data and software run off hardware, which can range from centralize computer servers to desktop to handheld devices. Geographic information can be created, shared, and used from each of the hardware devices</li>
								<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> Data has spatial and attribute information to explain where something is and what something is</li>
								<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>People use GIS software to perform GIS task on geographical data. People create and follow workflows to order GIS task and make their work more efficient</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--footer-->
			
</body>
</html>
