

<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<title>Download file::</title>
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--css-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studies Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

       
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   


<!--js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--js-->

<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--webfonts-->
</head>

<body>	
	<br>
		<div class = "container">
				<h3>Learning Objectives</h3>
		<p>This course will provide foundational knowledge of a GIS and show how it can be used to acquire geographic knowledge.
		You will explore GIS maps and use tools to gather information that you can use for decision-making at work or in your daily life.</p>
		
		<p>After completing this course, you will be able to perform the following tasks: Define GIS, Differentiate between vector and raster data,
			Navigate a GIS map, Use tools to access feature information and Create a location query and an attribute query.</p>
	
				
              
		
	
		
		
	<div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                
    </div>  
          <!--<div id="navbar" class="navbar-collapse collapse">-->
            
            
            <ul class="nav navbar-nav navbar-left">
		<li><a class="level2"href= "{% url 'home:gisintrodownload'%}" target="new">Download Data</a></li>
		<li><a class="level2"href="https://www.youtube.com/embed/IbLBXMCL3qk?rel=0&amp;showinfo=0" target="new">Download Software</a></li>
		<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/IbLBXMCL3qk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
		<li><a class="level2"href= "{% url 'home:gisintrokeyterms'%}" target="new">Key terms</a></li>
                
            </ul>

           
            

</div>
    

 </nav>
              
		
		
			
		
	       
	       
	   <!-- <div class="col-md-10"> -->
 

        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-16by9">

<!--<div class="video-container">-->
   
<iframe width="990" height="680" class="embed-responsive-item" name="new" id="new" src="" allowfullscreen></iframe>   
</iframe></div>
	</div>



		

</body>
</html>
