
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>

        <title>Introduction to GIS </title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style13.css' %}">
       
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

       


    </head>


    <body>
   <!-- <img src="{%static 'img/gis-intro2.jpg'%}"   class= 'img-responsive'>-->
     
     
<br>
      <div class="container">
     <!-- <nav class="navbar navbar-default">-->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
    <h4></h4>
            </div>  
          <div id="navbar" class="navbar-collapse collapse">
              {% if user.is_authenticated %}
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home:home'%}">Home</a></li>
               <li><a href="{% url 'home:chat'%}">My causes</a></li>
               <!-- <li><a href="{% url 'home:index'%}">Register</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href= "{% url 'accounts:view_profile'%}">Profile</a></li>-->
                <!--<li><a href="{% url 'accounts:edit_profile'%}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:change_password'%}">Change Password</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
            </ul>


              {%else%}

           <ul class="nav navbar-nav navbar-left"> 
                <li><a href="{% url 'home:home'%}">Home</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
               <li><a href="{% url 'accounts:login'%}">Sign in</a></li>
               <li><a href="{% url 'accounts:register'%}">Sign up</a></li>
                <li><a href="{% url 'accounts:reset_password'%}">Reset Password</a></li>
            </ul>
            {%endif %}

    </div>
          
          
        </div>
      </nav>
    </div>

 </nav>
   



 <div class="col-md-2">
 

  <nav class="navbar navbar-default">
   <div class="container-fluid">
   <ol style="list-style: decimal inside;"nav navbar-nav navbar-left">
       
  
   </ol>
<p>CONTENT</p> 
<p><span>What is GIS</span></p>

<div class="menuItem"><a class="level2"href= "{% url 'home:gisintrostart'%}" target="sites">Introduction</a></div><br>

<div class="menuItem"><a class="level2"href="https://www.youtube.com/embed/llFLbZ1eV3I?rel=0&amp;showinfo=0" target="sites">What is GIS-Video</a></div>
<!--<div class="menuItem"><a href= "{% url 'home:chat'%}" target="sites">My Courses</a></div><br>-->
<div class="menuItem"><a class="level2"href= "{% url 'home:gisintroarcgis1'%}" target="sites">How GIS Works-Reading</a></div><br>
<p><span>Coordinate System</span></p>
<div class="menuItem"><a class="level2"href="https://www.youtube.com/embed/DSOGG-AGVd0?rel=0&amp;showinfo=0" target="sites">Coordinate System-Video</a></div><br>
<P><span>Longitude and Latitude</span></P>
<div class="menuItem"><a class="level2"href="https://www.youtube.com/embed/r4W86ORpk1Y?rel=0&amp;showinfo=0" target="sites">Longitude and Latitude-Video</a></div>
<div class="menuItem"><a href= "{% url 'home:gisintroarcgis2'%}" target="sites">longitude and Latitude- Reading</a></div><br>
<p><span>Data Models</span></p>
<div class="menuItem"><a class="level2"" target="sites">Vector Data-Video</a></div>
<div class="menuItem"><a class="level2"" target="sites">Raster Data-Video</a></div>
<br>
<p><span>Practicle</span></p>
<div class="menuItem"><a class="level2"" target="sites">QGIS-Video</a></div>

</div>
   
 
  </nav>
 </div>



<div class="col-md-9">  
 
<div class = "container">
        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-16by9">

<div class="video-container">
   
<iframe width="990" height="680" class="embed-responsive-item" name="sites" id="site" src="https://www.youtube.com/embed/llFLbZ1eV3I?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>   
</iframe></div>



        </div>
        </div>
</div>
 </div>
</div>

<br>
  



    
    </body>
    
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script> 
    
    <script
       src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
       crossorigin="anonymous"></script>
    
    
</html>




















   