
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>

        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style12.css' %}">
        <!--<link rel="stylesheet" href="{% static 'home/house.css' %}">-->
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

        

    </head>


    <body>
    
    <p>Click <a href= "{%static 'Reg_Centre.zip'%}" download>Data</a>download demo.</p>
   
    <br>
     <p> <a href="https://qgis.org/en/site/forusers/download.html"> QGIS</a> website. 

  <a class="level2"href="https://www.youtube.com/embed/IbLBXMCL3qk?rel=0&amp;showinfo=0" target="new">How do i Download QGIS?</a></p>
       
          
    </body>

        
 




    
    
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script> 
    
    <script
       src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
       crossorigin="anonymous"></script>
    
    
</html>