
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>

        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style12.css' %}">
        <!--<link rel="stylesheet" href="{% static 'home/house.css' %}">-->
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

        

    </head>


    <body>
    <h3>Attribute query</h3>
     <p>Request for features based on values in the attribute table. The three basic components of an attribute query are the attribute field, operator,
     and attribute value.
     </p>
     <h3>feature</h3>
        <p>A representation of a real-world object on a GIS map.</p>
        
        <h3>Geographical Coordinates</h3>
        <p>A measurement of a location on the earth's surface expressed in degrees of latitude and longitude.</p>
        
        <h3>GIS</h3>
        <p>Acronym for geographic information system. An integrated system of data, software, hardware, people and workflows used to answer questions, make
        decisions,and provide tools to create, share, and use geographic information.</p>
        
        <h3>Layers</h3>
        <p>References GIS data that represents real world features. The layer creates a symbol to represent the collection of these features. The features in
        a layer have the same theme, geometry, and set of attributes.</p>
        
        <h3>Local Query</h3>
        <p>Request for features based on the location and spatial relationship to other features. The three basic components of a location query are the layer
        containing features to select, the location relationship, and the layer containing the related features.</p>
        
        <h3>Metadata</h3>
        <p>Information that describes the content, quality, condition, origin, and other characteristics of data.</p> 
        
        <h3>Raster</h3>
        <p>A data model that defines surfaces as an array of equally sized cells arranged in rows and columns. Each cell contains an attribute or measurement
        value. A raster's origin, cell size, and relative cell location are used to determine the location of the cells and raster on the earth.</p>
        
        <h3>Scale</h3>
        <p>Relationship between the size of a feature on a map and the actual size of that feature in the real world. Scales can be expressed as a ratio or
        an equivalence.</p>
        
        <h3>Vector</h3>
        <p>A data model that represents geographic features as points, polylines, and polygons. Attributes are associated with each vector feature, as
        opposed to a raster data model, which associates attributes with grid cells. Vector data uses pairs of geographic coordinates to determine the
        location of the features on the earth.</p>
        
    </body>

        
 




    
    
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script> 
    
    <script
       src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
       crossorigin="anonymous"></script>
    
    
</html>