<!DOCTYPE html>
    {% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

     
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style12.css' %}">
     
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
  
      
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 0px solid #ccc;
    /*background-color: #f1f1f1;*/
    width: 20%;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    /*display: block;
    background-color: inherit;
    color: black;*/
    padding: 22px 16px;
    width: 100%;
    border: 2px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    /*font-size: 2wv;*/
    /*lines: line-height: 1;*/
    line-height: !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 2px;
    border: 3px solid #ccc;
    width: 80%;
    border-left: none;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:450px;
	padding-top:10px; width: 100%; max-width: 820px; padding-right:0px;
max-height:430px; overflow: auto;
border: none; 
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%; max-width: 834px; width:100%; max-height:480px; height:100%; margin: 0px;}

</style>
</head>
<body>

<br>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
    </div>  
          <div id="navbar" class="navbar-collapse collapse">
              
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home:home'%}">Home</a></li>
                <li><a href="{% url 'home:chat'%}">My courses</a></li>
                <li><a href="{% url 'home:index'%}">Register New Course</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href= "{% url 'accounts:view_profile'%}">Profile</a></li>
                <li><a href="{% url 'accounts:edit_profile'%}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:change_password'%}">Change Password</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
            </ul>


    </div>
    

 </nav>
        </div>





<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Tokyo')" id="defaultOpen">Dowloads</button>
  <button class="tablinks" onclick="openCity(event, 'attribute')">Work with Attribute</button>
  <!--<button class="tablinks" onclick="openCity(event, 'Paris')">Key Terms</button>
  <button class="tablinks" onclick="openCity(event, 'whatgis')">What is GIS</button>
  <button class="tablinks" onclick="openCity(event, 'gisdo')">What can GIS do </button>
  <button class="tablinks" onclick="openCity(event, 'Tos')">How gis works</button>
  <button class="tablinks" onclick="openCity(event, 'Par')">Longitude and Latitude</button>
  <button class="tablinks" onclick="openCity(event, 'Tok')">Coordinate System</button>-->
  
  <button class="tablinks" onclick="openCity(event, 'Pa')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'To')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'Par')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'Tok')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'To')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'Pa')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'To')">Coming soon</button>
</div>

<h1>GIS PRACTICLE</h1>
<br><br>







<div id="Tokyo" class="tabcontent">
	    <p>In this training we are going to use an Open Source Software called QGIS.  The First video walks you through QGIS installation process, please watch it
			first to avoid any confusion. The second video walks you through downloading data for this course. The third video walks you through the software for
			    downloading our videos </p><br>
	    <p>QGIS Installation</p>
    <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0"allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
    </div>
    <p>Please visit <a href= "https://qgis.org/en/site/forusers/download.html" target="_blank">www.qgis.com</a>to download Software.</p>        
    <br>
        
    <p>Download Data</p>      
    
    <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
    
    <p>Click <a href= "{%static 'Reg_Centre.zip'%}" download>Here</a> to download data for this Course.<br>
    
    <p>Downloading videos</p>
            <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe></div>
    <br>
        
      
       
</div>
 <br>

 <br>
    
    
<div id="attribute" class="tabcontent">
  <h2>Working with Attributes</h2>
  <p>GIS data has two parts - features and attributes. Attributes are structured data about each feature. This tutorial
  shows how to view the attributes and do basic queries on them in QGIS.</p>
   <h3>Overview of the task</h3>
   <p>The dataset for this tutorial contains information about populated places of the world. The task is to query and find
   all the capital cities in the world that have a population greater than 1,000,000.</p>
  <h3>Other skills you will learn</h3>
	    <ul>
	    <li>.Select features from a layer using expressions.</li>
	    <li>.Deselect features from a layer using the Attributes toolbar.</li>
	    <li>.Using Query Builder to show a subset of features from a layer.</li>
	    </ul>


<h2>Get the data</h2>

<p>Natural Earth has a nice Populated Places dataset. Click <a href= "{%static 'Reg_Centre.zip'%}" download>Here</a> to download data
for this subtopic.<br>

<h2>Procedures</h2>

<p>1. Once you have downloaded the data, open QGIS. Go to Layer Add Layer Add Vector Layer.</p>
<img src="{%static 'img/atrib1.jpg'%}" class= 'img-responsive'> 

<p>2. Click on Browse and navigate to the folder where you downloaded the data.</p>
 <img src="{%static 'img/atrib2.jpg'%}" class= 'img-responsive'>
    
<p>3. Locate the downloaded zip file populated places.zip. You do not need to unzip the file. QGIS has the ability to read
zip files directly. Select the file and click Open. </p>
 <img src="{%static 'img/atrib3.jpg'%}" class= 'img-responsive'>
    
<p>4. The selected layer will now be loaded in QGIS and you will see many points representing the populated places of the world. </p>
 <img src="{%static 'img/atrib4.jpg'%}" class= 'img-responsive'>
    
<p>5. Right click the layer and select Open Attribute Table. </p>
 <img src="{%static 'img/atrib5.jpg'%}" class= 'img-responsive'>
    
<p>6. Explore the various attributes and their values. </p>
 <img src="{%static 'img/atrib6.jpg'%}" class= 'img-responsive'>
    
<p>7. We are interested in the population of each feature, so pop max is the field we are looking for. You can click twice on the field
header to sort the column in descending order. </p>
 <img src="{%static 'img/atrib7.jpg'%}" class= 'img-responsive'>
    
<p>8. Now we are ready to perform our query on these attributes. QGIS uses SQL like expressions to perform queries. Click Select
features using an expression. </p>
<img src="{%static 'img/atrib8.jpg'%}" class= 'img-responsive'>
    
<p>9. In the Select By Expression window, expand the Fields and Values section and double-click the pop max label. You will notice
that it is added to the expression section at the bottom. If you aren't sure about the field values, you can click the Load all unique
values to see what the attribute values are present in the dataset. For this exercise, we are looking to find all features that have a
population greater than 1,000,000. So complete the expression as below and click Select. </p>
<img src="{%static 'img/atrib9.jpg'%}" class= 'img-responsive'> 
 
<p>10. Click on Close and return to the main QGIS window. You will notice that a subset of points is now rendered in yellow. This is the
result of our query and you are seeing all places from the dataset that have the pop max attribute value greater than 1,000,000. </p>
<img src="{%static 'img/atrib10.jpg'%}" class= 'img-responsive'>
    
<p>11. The goal for this exercise is to find the places that are country capitals. The field containing this data is admcap.
The value 1 indicates that the place is a capital. We can add this criteria to our previous expression using the and operator. Lets refine
our query to select only those places which are capital Click on the Select feature using an expression button in
the attribute table and enter the expression as below and click Select and then Close. </p>
<img src="{%static 'img/atrib11.jpg'%}" class= 'img-responsive'>
    
<p>12. Return to the main QGIS window. Now you will see a smaller subset of the points selected. This is the result of the second query
and shows all places from the dataset that are country capitals as well as have population greater than 1,000,000. If we wanted to do
some further analysis on this subset of data, we can make this selection persistent. Right click the populated places
layer and select Properties. </p>
<img src="{%static 'img/atrib12.jpg'%}" class= 'img-responsive'> 
    
<p>13. In the General tab, scroll down to the Feature subset section. Click Query Builder. </p>
<img src="{%static 'img/atrib13.jpg'%}" class= 'img-responsive'>
 <p>14. Enter the same expression you had entered earlier and click OK. </p>
<img src="{%static 'img/atrib14.jpg'%}" class= 'img-responsive'>
    
<p>15. Back in the main QGIS window, you will see rest of the points disappear. You may now perform any other analysis on this layer and
only the features that match our expression will be used. You will notice that the points still appear in yellow. This is because they
are still selected. Find the Deselect Features from All Layers button under the Attributes toolbar and click on it. </p>
<img src="{%static 'img/atrib15.jpg'%}" class= 'img-responsive'>
    
<p>16. You will see that the points are now deselected and rendered in their original color. </p>
<img src="{%static 'img/atrib16.jpg'%}" class= 'img-responsive'> 
   

</div>








<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();



</script>
     
</body>
</html> 
