<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		<aside class="left-sidebar">
			<div class="search-area"><form action=""><input type="text" placeholder="Type to search.. "></form></div>

			 <div class="scroll-sidebar">
			 	<!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="top-ul">                       
                        <li class="nav-small-cap">MENU</li>
                        <li><a href="{% url 'home:gisprac_q_intro' %}" class="active">Introduction</a>	
							<ul class="submenu">
								<li><a href="#" id="link1" class="active">Installation</a></li>
									
								<li><a href="#" id="link2">Files Management</a></li>
								<li><a href="#" id="link3">QGIS Desktop</a></li>
								<!--<li><a href="" id="link4">QGIS Plugins</a></li>-->
								<li><a href="{% url 'quiz:introduction' %}" >Test</a></li>                                                               
							</ul>
							
						
	
						<li><a href="{% url 'home:gisprac_interface' %}" >QGIS Interface</a></li>
						<li><a href="{% url 'home:gisprac_q_datacreation' %}" >Data Creation</a></li>
						<li><a href="{% url 'home:gisprac_attribute' %}" >Work with Attribute</a></li>
						<li><a href="{% url 'home:gisprac_attribute' %}" >Coordinate system</a></li>
						<li><a href="{% url 'home:gisprac_attribute' %}" >Editing</a></li>
						<li><a href="{% url 'home:gisprac_attribute' %}" >Second Test</a></li>						
						<li><a href="{% url 'home:chat' %}" >FINAL EXAM</a></li>
						
                       </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
			 </div>
				
	
				
		</aside>
		





	<div class="main-section">
		<div class="container">


				<h1 class="topic-title">INTRODUCTION</h1>

	

			<div id="linkintro">
                         
                            <p>This  course provides practical introduction to QGIS; a free, open-source Geographic
                            Information System which runs on Windows, Mac OS X, and Linux. QGIS is a user-friendly GIS software,
					providing common functions and features; also a free, collaborative, cross-platform software that is constantly developing by QGIS community. 
					This course dive deep and take a comprehensive look at QGIS and the basic GIS concepts. Throughout this course, you will be learning through written tutorials, lecture videos and quizzes. </p>
                            <div class="text-center">
			    <img src="{%static 'img/vutia.jpg'%}" class="img-responsive" alt=""'>	
			    </div>
			    
				
			    <h3>Software Used.</h3>
			    <P>This practical has been tailored to QGIS 3.2. You are adviced to install and use same version of QGIS to avoid confussion. If you use different version of QGIS
				things  may look different, but the concepts and tasks will be similar. 
                            Click the installation button bellow for the installer (setup).
			    
			    <h3>What is QGIS.</h3>
			    QGIS (previously known as Quantum GIS)is a popular free and open-source GIS with advanced capabilities that supports
			    creating, viewing, editing and analysis of geospatial data.</P>
                            
			    <h3>Expected Results</h3>
                            
						<p>After completing this section, you will be able to correctly identify the main elements of the screen in QGIS and
                                                know what each of them does, and load a shapefile into QGIS. You will learn the principles underpinning vector-based
                                                geographic data analysis and learn to undertake tasks such as sourcing, loading and interrogating data; creating professional
                                                map outputs and preparing geographic datasets.
					</p>
					
				
                            <h3>What if you get stack?</h3>
			    <img src="{%static 'img/stack.jpg'%}" class="img-responsive" alt="">
                                <p> To avaoid confusion all excersise are in both written and videos formats. You are advised to start with writen tutorial then followed by videos.
                                If for some reasons you still get stack  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#regprocess">contact us
										</button> and make appointment
                                for live support.</p>
				
				 
	        
                <div class="modal fade bd-example-modal-lg" id="regprocess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Contact us</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                
                                        <div class="modal-body">
                                             
                                            <p> +255653397942  </p>
                                            <p>gis4life@gmail.com</>
                                                
                                                    
                                                    
                                            </div>
              
                            </div>
                        </div>
                    </div>                           
                                
						<h3>System Requirements</h3>
				<p>1. Windows OS: Minimum: Pentium III / 256 MB RAM.</p>
			       <p>2. Recommended: 1 GB of RAM and 1.6 GHz processor.</p>
			       <p>3. Operation System: Platforms Windows and Linux (Win XP or newer, Linux
					Suse 8.2/9.0/9.2, Linux Debian (Lliurex)).</p>
			       <p>4. MAC OS: PC/Desktop with at least Pentium IV Tiger OS, Leopard OS</p>
                   		
					
	</div>

			
	

			
			<div id="link1data" class="animated fadeIn">


				<h2>QGIS Installation</h2>
				<div class="section2 grey-scale">
					<div class="text-center">
					
					<h3 class="font-weight-bold">READING TUTORIAL.</h3> 
					</div>
					</div>
					
				<hr>
				<p><span>Types of QGIS Installer</span></p>	
				<p>There are two types of QGIS installer packages;
				<p>1. QGIS standalone installer- this package installs the binary version of QGIS and the Geographic Resource Analysis Support System (GRASS) using a standard
				Windows installation tool. and</p>
				<p>2. OSGeo4W Network Installer - this package provides the user with opportunity to download either the binary or source code
				version of QGIS, as well as experimental releases of QGIS. Additionally, the OSGeo4W installer allows you to install
				other open source tools and their dependencies.</p>
				
				<p> If you want an easy installation experience of QGIS choose standalone installer and  and if you want an advanced
				features in QGIS choose OSGeo4W Network Installer option. For new users we recommend
				using QGIS standalone installers.</p>
				
				<div class="text-center">
			    <img src="{%static 'img/installation.jpg'%}" class="img-responsive" alt=""'>	
			    </div>
				
				<p>Below are the instructions for downloading and installing each option. Remember, you only need one type of installation at a time, so once
				you install Standalone installer you don't need to install OSGeo4W installer.</p>
				
				
				 <p>In case of difficulities during installation watch the video below.</p>
	
<br>
	<hr>
		
			
			
			<p>Note that this set of training modules focuses on using Windows for QGIS, although QGIS is 
			also compatible with Macintosh computers. Instillation is similar and many online guides for 
			how  to  work  with  QGIS  in  a  MAC  environment  are  available.  Please  also  note  that  new  
			versions of QGIS may have been released since this publication was completed.
			Where this is the case, feel free to use the new versions, although you may need 
			to adapt portions of the instructions in each module to some extent.</p>
			
		<p><span>Compactibility</p></span>
			
			<p>Before  downloading  and  installation  of  QGIS  and  other  software  in
				Windows,  check  your Windows System type (32 bit or 64 bit) to assure compatibility.</p>
				
				<p>1. Click the Windows Start button
				 <img src="{%static 'img/q_p_intro_inst1.jpg'%}" class="img-responsive" alt=""'>
				
				<p>2.Type "System" in the search bar, and then click System</p>
				<img src="{%static 'img/q_p_intro_inst2.jpg'%}" class="img-responsive" alt=""'>
				
						
				
				<p>3. Under the system look the system type.</p>
				<img src="{%static 'img/q_p_intro_inst3.jpg'%}" class="img-responsive" alt=""'>
				
				<hr>
                                
				 <p><span>Install Standalone QGIS</span></p>
				 
				 
				 <p>Installing  Standalone QGIS installer is fairly simple. You can download
				 the installer directly from our gis4life server or from the qgis website. Keep the downloaded files in your local
				 directory for future installations. Make sure you download the same version of QGIS as the one used in this course (QGIS 3.2).</p>
				 
				 <p> To download Standalone Installer from GIS4life server click <a href= "{%static 'qgis.zip'%}" download>Download here</a>, then follow Instruction 1  below.
				 <P>Instruction 1.</P>
				  <img src="{%static 'img/qgis1.jpg'%}" class="image-responsive" alt="">
				 <br><br>
				 <p>To download from QGIS website
				 click <a href="http://download.osgeo.org/qgis/win64/" target="_blank" />Download qgis</a>, then follow  Instruction 2  followed by  Instruction 1 (skip step 4 of instruction 1) </p>
						
						<P>Instruction 2. </P>
					<img src="{%static 'img/qgis2.jpg'%}" class="image-responsive" alt="">
						<br><br>
							<!--<img src="{%static 'img/qgis3.jpg'%}" class="image-responsive" alt="">-->
				
				
				<p class="font-weight-bold">2. After downloading, double click to start the installation process. Accept the defalts by clicking next, i agree, install then finish.</p>
				
				<br><br>
				<p><span>Uninstalling Standalone QGIS</span></p>
				
				
				<hr>
				<img src="{%static 'img/qgis4.jpg'%}" class="image-responsive" alt="">
					<br><br>
					<img src="{%static 'img/qgis5.jpg'%}" class="image-responsive" alt="">
						<br><br>
						<img src="{%static 'img/qgis6.jpg'%}" class="image-responsive" alt="">
							<br>
							
							<img src="{%static 'img/qgis7.jpg'%}" class="image-responsive" alt="">
					<br><br><br><br>
                                 </span></p>OSGeo4W installer </span></p>
				 <hr>
				 <div class="flex f-start f-col"><small>Skip this part, if you installed Standalone installer.</small></div>
				
				 <p>Installing OSGeo4W installer is fairly simple. For this example, the OSGeo4W 64-bit installer is used. I like this installer because it can
				also be used to install other open source packages at one time. It's a bundled set of packages that you can choose what
				to install and/ or update. For new users the standalone installers are recommended. For more advanced users you can
				use the OSGeo4W package to install several versions in parallel. The installer is able to install from internet or just
				download all needed packages beforehand. The downloaded files are kept in a local directory for future installations.You can download the installer directly from our gis4life server or from the qgis website. Keep the downloaded files in your local
				 directory for future installations. </p>
				 
				 <p>1. Go to <a href= "{%static 'qgis.zip'%}" download> gis4life</a> to download from our server or  <a href="http://download.osgeo.org/qgis/win64/" target="_blank" />www.qgis.com</a> to
				 download directly from QGIS website. Make sure you download the right version of QGIS for your OS.
				 <p class="font-weight-bold">Watch the video below for more undestanding.</p>
				 
				 <p>2. After downloading the installer, double click on it to start installation.</p>
				 
				 <img src="{%static 'img/osgeo4w0.jpg'%}" class="image-responsive" alt="">
					<br><br><br>
					<p class="font-weight-bold">From three options above</p>
					<p>-First option: The express install-is a quick way of installing some of the most high profile OSGeo4W packages in a minimum
					number of steps</p>
					<p>-Second option: Express web-GIS install - is a quick way of installing GIS related drives.</p>
					<p>-Third option: Advance install- allows control over many details of the installations.</p>
				 
				 <p>3.Select first option click next.</p>
				 <img src="{%static 'img/osgeo4w1.jpg'%}" class="image-responsive" alt="">
					<br>
				<p> Go through the installation process using default options. Choose download source - use the Install from
			       Internet option. Use the default root installation directory as C:\OSGeo4W. Install for all users and select
			       options to create icons on desktop and start menu. During the installation process you may also get a
			       window that says other required software dependencies are needed - install them.</p>
				
				 <img src="{%static 'img/osgeo4w2.jpg'%}" class="image-responsive" alt="">
				
				<p class="font-weight-bold">End of Installation using option one. If you choosed option three, below are the steps</p>
				
				

				<p>3.For Optional Driver Installation, select third option then click next.</p>
				
					<img src="{%static 'img/osgeo4w0.jpg'%}" class="image-responsive" alt="">
						<br><br>
				<p>In the Setup window, select the Advanced Install option and click Next</p>
							
			<p>4. Click Install from Install from Internet, then select the directory where you downloaded the installation packages
			if different from the default path (e.g. C:\Users\stephanies\AppData\Local\Temp).</p>
				<img src="{%static 'img/osgeo4w3.jpg'%}" class="image-responsive" alt="">
					<br><br>
				
			5. In the Select Packages window, expand Libs section. Find the option, gdal-filegdb: OGR FileGDB Driver, then click
				the "refresh" symbol for options to either: Install, Uninstall, Keep, Upgrade or Downgrade a library package.
				Finish the installation process.
				
					<img src="{%static 'img/osgeo4w4.jpg'%}" class="image-responsive" alt="">
					<br><br>
				
				
					
				<h3>Uninstalling OSGeo4W</h3>
				
				<P>To uninstall QGIS that you installed using the OSGeo4W utility, just delete the root directory and associated folders (e.g.
				C:\OSGeo4W and C:\Users\stephanies\.qgis). Desktop icons and folder in the Startup menu need to be removed
				manually.</P>
				
				
				<div class="section2 grey-scale">
					<div class="text-center">
					
					<h3 class="font-weight-bold">VIDEO LECTURE.</h3> 
					</div>
					</div>
					
				<hr>
				
				<div class="video-holder">
						<iframe src="https://www.youtube.com/embed/V0m2gxGFRx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					
				
				<br><br>
					<div class="section2 grey-scale">
					<div class="text-center">
					
					<h3 class="font-weight-bold">TEST.</h3> 
					</div>
					</div>
					
				<hr>

			</div>

			

			<div id="link2data" class="animated fadeIn">
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>Files Management</h2>
					</div>
					</div>
					
				<hr>
					<br>					

					 <div class="text-center">
				<img src="{%static 'img/fmngt111.jpg'%}" class="image-responsive" alt="">	
					 </div>
				
				<br>
				<P>Working with GIS software requires lots of interactions with folders and files. If you are new in computer, file management is good for you.</P>
				
                                        
				
				<p>The data that we work with on our personal computer is all arranged in a hierarchical system which uses directories and organizes the files
				into a tree structure. Although we use the operating system for structuring our files, how we name them, how we organize the nested folders,
				and how the files in those folders are arranged, form the basic feature of file management.
				Keeping track of the files and being able to find them instantly at the time of requirement can add great value to understanding of GIS.
				</P>
				
				<p>This subtopic will help you to learn the following; </P>
					
					 <ul>
					<li>What are files and folders</span></li>
					<li>organizes your files and folders</span></li>
					<li>Creating files and folder</span></li>
					<li>Understand the parts of a folder</span></li>
					<li>Viewing your files in folder</span></li>
					<li>Finding your files</span></li>
					<li>Copying and moving files and folders(copying and moving files an folders)</span></li>
					<li>Saving locations</span></li>
					<li>Renaming files and folders</span></li>
					<li>Creating and delelting files(deleting)</span></li>
					<li>Opening an existing file</span></li>
					<li>Restore deleted files</span></li>
				      </ul>  
       
					
					
					<p><span>What are files and folders</span></p>
					<P><span>A file</span> is very much like a typed document that you might find on someone's desk or in a filing cabinet; it's an item that 
				contains a collection of related information. On a computer, examples of files include text documents, spreadsheets, digital 
				pictures, and even songs. Every picture you take with a digital camera, for example, is a separate file, and a music CD might 
				contain a dozen individual song files.
				Your computer represents files with icons. By looking at a file's icon, you can tell at a glance what kind of file it is. Here are 
				some common file icons</P>
					<img src="{%static 'img/fmngt11.jpg'%}" class="image-responsive" alt="">
						
				<p><span>A folder </span>is little more than a container in which you can store files. 
				If you put thousands of paper files on someone's desk, it would be virtually impossible to find any particular one when you needed it.
				That's why people often store paper files in 
				folders inside a filing cabinet. Arranging files into logical groups makes it easy to locate any particular file.
				Folders on your computer work exactly the same way. This is what a typical folder icon looks like: </p>
					<img src="{%static 'img/fmngt22.jpg'%}" class="image-responsive" alt="">	
					
					
					
				<p><span>How Windows organizes your files and folders</span></p>
					
					<p>When it comes to getting organized, you don't need to start from scratch. Windows comes with a handful of common folders 
					that you can use as anchors to begin organizing your files. Here's a list of some of the most common folders you can store 
					your files and folders in:</p>
					
					
					<ul>
					<li><p><span>Documents. </span>Use this folder to store your word processing files,
					spreadsheets, presentations, and other business oriented files.</p></li>
					<li><p><span>Pictures. </span>Use this folder to store all of your digital pictures, whether you
					get them from your camera, scanner, or in email from other people.</p></li>
					<li><p><span>Music . </span>Use this folder to store all of your digital music, such as songs that
					you copy from an audio CD or download from the Internet.</p></li>
					<li><p><span>Videos. </span>Use this folder to store your videos, such as clips from your digital
					camera, camcorder, or video files that you download from the Internet</p></li>
					<li><p><span>Downloads. </span>Use this folder to store files and programs that you download from the web</p></li>
					
				      </ul>  
					
					<p>There are many ways to find these folders. The easiest method is to open the personal folder,
					which gathers all of your common folders in one place. The personal folder isn't actually called "personal"
					it's labeled with the user name that you used to log on to the computer. To open it, click the Start
					button, and then click your user name at the top of the Start menu's right pane.</p>
					<img src="{%static 'img/fmngt33.jpg'%}" class="image-responsive" alt="">
						<br><br>
					<p>Remember that you can create subfolders inside any of these folders to help you better
					organize your files. In the Pictures folder, for example, you might create subfolders to organize
					pictures by date, by event, by the names of people in the pictures, or by any other scheme that helps you work more efficiently.</p>
					
					
					<p><span>File extension</span></p>
					
					<p>A file extension or file name extension is the ending of a file that helps identify the type of file. In Microsoft Windows, the file name extension is a period that is often followed
					by three characters, but may also be one, two, or four characters long.</p>
					
					<p>There are thousands of file extensions that can each be associated with one or more applications. 

					Some of the more common file extensions are listed below, separated by the types of files the file extensions are associated.</p>
					<ol>
						
					
						<li><p>Music/Sound files</li></p>
							<p> .mp3</p>
							<p> .wav</p>
						<li><p>Picture files</li></p>
							<p> .jpg</p>
							<p> .bmp</p>
							<p> .gif</p>
							
						<li><p>Text and Word processing documents</li></p>
							<p> .txt</p>
							<p> .doc</p>
					</ol>
					
					<h2><span>File management programs</h2>	</span>
					
					<p>Windows currently uses two programs to accomplish file management on your computer.</p>


				<ol>
				
					<li><h5><span>My Computer. </span></h5></li>
					<li><h3><span>Window Explorer. </span></h3></li>
					
					
				      </ol>  
					<p>Both programs can be used to accomplish, basically, the same tasks.</p>
					<hr><hr>
				<h3><span>1. My computer.</span></h3>
					<br>
					
				<p><span>creating folder</span></p>
					Right click where you want to make the folder (on desktop, in another folder, etc.). 
					Choose New > New Folder. 
					
					<img src="{%static 'img/fmngt1.jpg'%}" class="image-responsive" alt="">
					<br>
					<p>Type a name, then press <span>Enter</span></p>
					
					<p>Right click and choose<span> Rename </span>to rename.  </p>
				<p><span>Creating and deleting files	</h4>
				
					<p>The most common way to create new files is by using a program. For example, you can create a text 
					document in a word processing program or a movie file in a video editing program.</p>
					
					<p>Some programs create a file when you open them. When you open WordPad, for example, it starts with a blank page. This 
					represents an empty (and unsaved) file. Start typing, and when you are ready to save your work, click 
					<spanb>File </spanb>in the menu bar  and then click  <spanb>Save As</spanb>.In the dialog box that appears, type a file name that will help you find the file again in the future, 
					and then click <spanb>Save</spanb>.</p>
					
					<p>By default, most programs save files in common folders like Documents, Pictures, and Music, which makes it easy to find the 
					files again next time. </p>
					
					<p>When you no longer need a file, you can remove it from your computer's hard disk to save space and keep your computer from 
					getting cluttered with unwanted files. To delete a file, open the folder that contains the file and then select the file. Press DELETE and then, in the 
					<spanb>Delete File </spanb>dialog box, click <spanb>Yes</spanb>.</p>
					
					<p>When you delete a file, it's temporarily stored in the Recycle Bin. Think of the Recycle Bin as a safety folder that allows you 
					to recover files or folders that you deleted accidentally. Occasionally, you should empty the Recycle Bin to reclaim all of t
					he hard disk space being used by your unwanted files. </p>
									
									
				<p><span>Viewing your files in a folder</span></p>
					
					<p>When you open a folder and see your files, you might prefer larger (or smaller) icons, or an arrangement that lets you see 
					different kinds of information about each file. To make these kinds of changes, use the Views button in the toolbar.
					Each time you click the Views button, the folder window changes the way it displays your file and folder icons, alternating 
					between large icons, a smaller icon view called Tiles, and a view called Details that shows several columns of information 
					about the file. If you click the arrow next to the Views button, you have even more choices. Drag the slider up or down to fine
					tune the size of the file and folder icons. You can see the icons change size as you move the slider</p>
					<img src="{%static 'img/fmngt44.jpg'%}" class="image-responsive" alt="">
						
				<p><span>Finding your files</span></p>
					<p>When you need to find a particular file, you'll often know that it's located somewhere in a common folder like Documents or 
					Pictures. Unfortunately, actually locating the file you want might mean browsing through hundreds of files and subfolders
					not an easy task. To save yourself time and effort, use the Search box to find your file.</p>
					<img src="{%static 'img/fmngt55.jpg'%}" class="image-responsive" alt="">
					
					
					<p>The Search box is located at the top of every folder. To find a file, open the folder that contains the file you are looking 
					for, click the Search box, and start typing. The Search box filters the current view based on the text that you type. Files are 
					displayed as search results if your search term matches the file's name, 
					tags, or other file properties. Text documents are displayed if the search term occurs in any of the text inside the document.
					Your search looks in the current folder as well as all subfolders.</p>
					<p>If you have no idea where to look for a file, you can expand your search to include the entire computer, not just a single 
					folder.</p> 
										
					
					
					
					
					
				<p><span>Copying and Moving files and folders</span></p>
					
					<p>Copy vs. Move.</p>
					<p><span>Copy</span> -copy files and folders when you want to keep it in the original location, and add a copy in another location. </p>
					<p><span>Move </span>-move files when you want them in a new location, and you no longer need them in the old location.</p>    
							
							
					<p>Copying Files </p>    
					<p>Right click on the file or folder. Choose Copy. </p>
					<p>Open the window where you want to put the file or folder. </p>
					<p>Right click in a blank area and choose Paste.</p>
							
					<img src="{%static 'img/fmngt2.jpg'%}" class="image-responsive" alt="">
					
					
					<p>Moving Files</p>
					<p>Open the folder where the original file or folder is located.</p> 
					<p>Open the folder where you want the file or folder to be. </p>
					<p>Drag from one window to the other. </p> 	
					<img src="{%static 'img/fmngt3.jpg'%}" class="image-responsive" alt="">
						
					
				<p><span>Saving files  </span></p>
					<p>By default, Microsoft Office programs save in My Documents.</p> 
					<p>You can save a document wherever you want by navigating to a new location during the <span>Save process.</span>  </p> 
					<p>To save a file in an existing folder in My Documents, double click the folder. </p> 
					<img src="{%static 'img/fmngt4.jpg'%}" class="image-responsive" alt="">
					<p>To save a file in a location other thanMy Documents, use the Save In drop down menu at the top of the screen, or the links on the left 
						hand side, and browse to a new location.</p>  
						<img src="{%static 'img/fmngt5.jpg'%}" class="image-responsive" alt="">
							
							
				<p><span>Renaming files and folders</span></p>
					<p>Right click on the file or folder and choose Rename.</p>
					
					<img src="{%static 'img/fmngt6.jpg'%}" class="image-responsive" alt="">
					<p>Type the new name, then press Enter. Note:A computer will not allow two files in the same location to have the same name. </p>
					<p>Caution:When renaming a file whose file extension is displayed (the letters after the dot), do not disturb the dot or the letters followi
					ng the dot.  Change only the name of the file-the part to the left of the dot.</p>
					
				<p><span>Deleting</span></p>
					<p>When a file is deleted, it goes to the recycle bin.However, it is still in your computer, 
					taking up space.  To completely delete a document, you need to empty the Recycle Bin.  
					Emptying the Recycle Bin Open the Recycle Bin and choose File > Empty Recycle Bin.</p> 
					
					
					<img src="{%static 'img/fmngt7.jpg'%}" class="image-responsive" alt="">
					
				<p><span>Restoring From the Recycle Bin</span></p>
					Open the Recycle Bin.Right click on the file or folder you want to restore, and choose Restore.</p>
					<p>It will re-appear in the folder from which it was deleted.</p>
					<img src="{%static 'img/fmngt8.jpg'%}" class="image-responsive" alt="">
					
					
					<p>Bypass Recycle Bin To delete a file without having it go to the Recycle Bin, select the file or folder you wish 
					to delete.  Hold the SHIFTkey and the press the Delete key.  
					
					
					
			
					<h2><p><span>2. Window Explorer. </span></p></h2>
					
						
					<p>As  with  My  Computer,  you  can  use Windows  Explorer  to  copy,  move, delete,  and  rename  files  and  folders.
					That  said,  however,  Windows  Explorer is more powerful than My Computer: it allows you to see the 
					overall  structure  of  the  contents  of  your  computer  or  network  while  you  work  with  individual  files  and  folders  
					within  that  structure.    This  means you can work with more than one computer, folder, or file at once. </p>  
					<p>Windows  Explorer  consists  of  two  areas  called  panes.    The  left  pane, called the Explorer Bar, displays the 
					drives and folders on your computer in a hierarchy.  The right pane displays the contents of whatever drive or 
					folder you select in the left pane. Each pane has its own set of scroll bars so  changing  what  you
					see  on  one  pane  does  not  affect  the  other.   Windows Explorer also has a menu bar, toolbar, and address bar. 
					<img src="{%static 'img/q_p_intr_filemng_windoexpl1.jpg'%}" class="image-responsive" alt="">
					<p><span>Launching Windows Explorer</span></p>
					<p>Click  the  Start  button,  point  to  Programs,  point  to  Accessories,  click  
					Windows Explorer, then click the Maximize button if the window does not already fill the full screen. </p> 
					
					
					<p><span>Expanding/Collapsing Objects</span></p>
					<p>You can click the small arrow sign next to any item in the left pane to show or hide the different levels of
					the file hierarchy.  An arrow sign  sign  next  to  a desktop,  drive,  or  folder  indicates  there  are additional
					folders  within  that  object.    If no arror sign  indicates  that  all the folders of the next level of the
					hierarchy are shown.  Clicking the arror sign to "expands" the next level; clicking the top arrow sign to hides (or "collapses") them. (Watch the video below)</p>
					
					<p><span>Left Pane (used to navigate to a certain location)</span></p>
					
					<p>Note: In the left pane you will never see actual files, only drives or folders.</p>
					
					<ul>
						<li><p>Click once on a drive or folder to see the contents appear in the right pane.</p></li>
						<li><p>To <span>expand a branch </span>of the tree structure,
					click on the arrow sign to the left of the desired drive or folder. (The right pane will not change).
					Double clicking on a non expanded drive or folder in the left pane = both, expanding the branch and viewing contents
					of that drive or folder in the right pane.</p></li>
					<li><p>To <span>retract a branch </span>of the tree structure that is already expanded, click on the top arrow sign 
					to the left of the desired drive or folder. Double clicking on an expanded drive or folder in the left pane = both,
					retracting the branch and viewing the contents of that drive or folder in the right pane.</p></li>
					
				      </ul>  
					
					<p><span>Right Pane (provides various file management options).</span></p>
					<p>In the right pane you will see any contents of the folder which is highlighted in the left pane.</p>
					<p>Contents can be:</p>
					<ul>
						<li><p>sub folders of the highlighted drive or folder on the left.</p></li>
					<li><p>any files contained in this specific folder.</p></li>
					
					</ul>
					
					<p>-Double clicking (in the right hand pane) on a folder opens that folder's contents and re-adjusts the left pane 
					window to reflect which folder is open.</p>
					<p>-Double clicking on an actual file name will open that file (provided your computer contains the software necessary).</p>
					
					<p><span>Creating a New Folder</span></p>
					
					<p>Click on File in the menu bar, point to New, then click Folder.  Windows 
					will  place  a  folder  in  the  drive/folder selected  in  the  Explorer  Bar.
					By default, Windows names the folder "New Folder".  It is selected and ready for naming.  Note:  You can also create
					 a new folder by right-clicking in the blank area of the right pane, clicking New, then clicking folder.</p>
					 
					 <p><span>Moving and Copying Objects</span></p>
					 <p>You can move a file or folder from one location to another using a variety of methods in Windows Explorer.
					 If the file or folder and the location to which you want to move it are both visible, you can simply drag the item 
					from  one  location  to  the  other.  You  could  also  use  the  Cut,  Copy,  and  Paste  commands  on  the  Edit
					menu  or the  corresponding  buttons  on  the  toolbar.  Finally, you can right-click
					the file or folder and choose the Send To command to "send" it to another location like a floppy. 
					<span>Note:</span> Dragging an object to another spot on the same drive invokes the move operation.
					By contrast, dragging an object from one drive to another (example:  floppy to hard disk) invokes the copy operation.</p>   
										 
					 <p><span>Searching for Objects</span></p>
					 
					<p> With  so  many  drives  and  folders  at  your  disposal,  you  may  occasionally  forget where you placed an object.  
					Fortunately, a utility to search drives is included in the functionally of Windows Explorer.  Even more important, 
					Windows Explorer can search based on a wide range of criteria. </p>
					
					<p>To  initiate  a  search,  click  the  Search  button  in  the  Windows  Explorer  toolbar.  When the search window
					appears, type as much of the object's name as you remember into the top textbox.  The more information you 
					provide, the more specific the search and the less likely Windows will find a match.   Try to limit your file
					name to seven or less characters. </p>
					
					 <p><span>Working with Shortcuts</span></p>
					 <p>When you frequently use a file, folder, or program located several levels down  in  the  file  hierarchy,  you  may  
					want  to  create  a  shortcut.    You  can  place  the  shortcut  on  the  desktop,  or in  any  other  location,  such  as  a  
					folder,  that  you  find  convenient.    To open  the  file,  folder,  or  program  using the shortcut, simply double-click the icon.</p> 
					<p>Creating  a  shortcut  is  simple. In  the  right  pane  of  Windows  Explorer,  right-click  the  object  for  which  you  
					need  a  shortcut.    Click  on  Create  Shortcut in the resulting pop-up menu and move the resulting shortcut to 
					the  desired  location.      Alternatively,  you  may  also  right-click  an  object and  point  to  Send  To  in  the  pop-up
					  menu,  then  select  Desktop  (Create Shortcut).  Both methods net the same result.</p>
					<p>If you do not want your 
					desktop to get cluttered with icons but you would still  like  easy  access  to  certain  files,  programs,  and  folders,  you  can  
					create  a  shortcut  on  the  Start  menu. Drag  the  file,  program,  or  folder  
					that  you  want  to  add  to  the  Start  menu  from  the  Windows  Explorer  window to the start button.  The object will appear on the first level.</p> 
					 
					 
					<p><span>Refresh </span></p>
					
					<p>At times when you manipulate files in a folder or drive, the file or folder list may not reflect or show the 
					changes. The file you thought you copied does not show up in the list. At times such as these you can use refresh to have the
					computer update the window to properly reflect the changes. To refresh...</p>
					<ul>
					<li>right click on an empty area of the right pane or </li>
					<li>in the menu bar at the top of the window, click on View/Refresh</li>
					</ul>					 
					<h3>Interface Video</h3>
					<div class="video-holder">
						<iframe src="https://www.youtube.com/embed/V0m2gxGFRx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<hr>
			</div>



			<div id="link3data" class="animated fadeIn">
					
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>QGIS Desktop</h2>
					</div>
					</div>
					
				<hr>
					<h3>QGIS Browser</h3>
					<p>The QGIS Browser is like Windows explorer for spatial data (location data). It allows you to browse through and work with your data. 
					</p>
					<p>The browser panel is located at the bottom of the left-hand panel in QGIS. Click on the Browser tab to open the QGIS Browser.
					If you do not see the Browser tab, enable it by doing to View > Panels > Browser (Windows and Mac) or Settings > Panels > Browser (Linux).</p>
					
					<p>1. Open QGIS Browser. It should look something similar to the image below.</p>
					<img src="{%static 'img/q_p_intr_filemng_browser1.jpg'%}" class="image-responsive" alt="">
						
					<p>2. Click on the little arrow > to expand a folder or drive.	</p>
						
					<img src="{%static 'img/q_p_intr_filemng_browser2.jpg'%}" class="image-responsive" alt="">
						<br>
					<p>If you browse to a directory(path) on your system where you have some GIS data. You will immediately notice the advantage
					of using the Browser. Instead of seeing all support files and non-spatial data, you will see only the spatial
					layers that are supported by QGIS. Click on a layer to select it.</p>
					
					<p><span>PRACTICLE</span></p>
					
					<p><span>Data</span></p>
					
					<p>1. Download the file <a href= "{%static 'QGIS_Intro_Data.zip'%}" download>Data</a> shapefile, at the bottom left of your scree click drop down arrow then click show in folder > Copy it> and paste on your desktop,</p>
					<img src="{%static 'img/q_p_intr_filemng_browser3.jpg'%}" class="image-responsive" alt="">
					
					<p>2. Unzip the file. Highlight the file, right click then click extract all. In the next window click extract </p>
					<img src="{%static 'img/q_p_intr_filemng_browser4.jpg'%}" class="image-responsive" alt="">
						
						
					<p>3. Go to QGIS browser and browse to the nanyumbu folder (unzipped one)</p>
					
					<p>4. Click on the shapefile within the folder, click and drag to the display panel</p>
					
					<img src="{%static 'img/q_p_intr_filemng_browser5.jpg'%}" class="image-responsive" alt="">
					
					
					
					<h3>QGIS Desktop Interface or GUI</h3>
					<hr>
					<p>
						QGIS Desktop is used to make maps, edit data, and do GIS analyses.</p>
						<img src="{%static 'img/q_p_intr_filemng_qdesk1.jpg'%}" class="image-responsive" alt="">
						
					<p>1. Main Menu: Provides access to various features and functions of the application in a standard hierarchy 
					menu style. The Main Menu cannot be moved unlike the toolbars and panels</p>
					
					<p>2. Toolbars: Buttons that provide a one click access (i.e. shortcuts) to many of the features and functions found in the Main Menu. Toolbars are movable and can be docked or free floating.
					<p>3.Layer Panel: shows a listing of map layers that are in your current project. Layers can be turned on/off, 
					grouped, change drawing order, etc. Again think of this as the Table of Contents in ArcMap.</p>
					<p>4.Browser Panel: shows a listing of files on your computer. You can drag and drop GIS files into the Layers 
					Panels to view them. This panel is movable and can be hidden/shown on the GUI. Similar to the stand-alone QGIS Browser. </p>
					
					<p>5.Map Display Panel: shows a geographic display of GIS layers in the Layers Panel.  </p>
					<p>6. Status Bar: shows the current scale of the map display, coordinates of the current mouse cursor position, 
					and the coordinate reference system (CRS) of the project. See Section 4 below for some explanations of 
					coordinate systems and map scale</p>
					
					<p><span>Configuring the user interface</span></p>
					
					<p>1. Moving Toolbars and Panels</p>
					
					<p>. To move a toolbar, hoover your mouse over the toolbar you want to move until 
					you get white expand/move symbol then click and drag and drop the toolbar to anywhere or have it free floating.</p>
					<img src="{%static 'img/q_p_intr_filemng_qdesk2.jpg'%}" class="image-responsive" alt="">
					
					<p>. To move a panel, click on the panel title(e.g. Browser Panel) and drag and drop.</p>
					
					<img src="{%static 'img/q_p_intr_filemng_qdesk3.jpg'%}" class="image-responsive" alt="">
					
					<p>2. Hide or shown Toolbars and Panels: 
					As you can see, there are lots of features and tool buttons –some of these we don’t really need
					 and it can be a good idea to remove them to make the interface look a little simple. To do this, 

						Right click in any blank area on the toolbar to get the Panel and Toolbars 
						menu. Click on a checked or unchecked Panel (s) or Toolbar(s) to toggle between hiding and showing them.
						A good one to panel to show is the Spatial Bookmarks panel so you can bookmark your map extents. </p>
					
					<img src="{%static 'img/q_p_intr_filemng_qdesk4.jpg'%}" class="image-responsive" alt="">
						
						
						
					<p>3. You can customize many aspects  of the user interface through the Options window: go to Settings menu >> Options.</p>
						<img src="{%static 'img/q_p_intr_filemng_qdesk5.jpg'%}" class="image-responsive" alt="">
							
					<p>4. To reset QGIS Desktop to its default settings: Settings menu >> Options >> System >> QSettings Reset button</p>		
						<img src="{%static 'img/q_p_intr_filemng_qdesk6.jpg'%}" class="image-responsive" alt="">	
					<hr>
			</div>
			
			
			<div id="link4data" class="animated fadeIn">
					
					
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>QGIS Plugins</h2>
					</div>
					</div>
					
				<hr>

					<p>
						
						QGIS has been designed with a plugin architecture which allows many new features and functions to be easily
						added to the application. Many of the features in QGIS are actually implemented as plugins.</p>
						
						<p><span>Installing QGIS Plugins</span></p>
						
						<p>There are many plugins that allows you to extend the capabilities of QGIS. Lets install QuickMapService plugin</p>
						
						<p>QuickMapService plugin lets you add several basemaps (e.g.  Google imagery, OpenStreetmap). Steps   2 and 3 below showyou how
						to install the plugin and use it to add Google aerial or other basemaps to QGIS.</p>
						
						
						
						<p>You can manage your plugins in the plugin dialog which can be opened with Plugins > Manage and install plugins ....</p>
						
						<p>When a plugin needs to be updated, and if plugins settings have been set up accordingly, QGIS main interface could display
						a blue link in the status bar to tell you that there are some updates for plugins waiting to be applied.</p>
                                                
					

					<hr>
						
						
						Configuring the user interface
			</div>
			
			
			
			
			
			



		</div>
	
</main>
     
     
      {% endblock %}   
        
       