<!DOCTYPE html>
    {% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

     
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style12.css' %}">
     
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
  
      
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 0px solid #ccc;
    /*background-color: #f1f1f1;*/
    width: 20%;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    /*display: block;
    background-color: inherit;
    color: black;*/
    padding: 22px 16px;
    width: 100%;
    border: 2px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    /*font-size: 2wv;*/
    /*lines: line-height: 1;*/
    line-height: !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 2px;
    border: 3px solid #ccc;
    width: 80%;
    border-left: none;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:450px;
	padding-top:10px; width: 100%; max-width: 820px; padding-right:0px;
max-height:430px; overflow: auto;
border: none; 
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%; max-width: 834px; width:100%; max-height:480px; height:100%; margin: 0px;}

</style>
</head>
<body>

<br>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
    </div>  
          <div id="navbar" class="navbar-collapse collapse">
              
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home:home'%}">Home</a></li>
                <li><a href="{% url 'home:chat'%}">My courses</a></li>
                <li><a href="{% url 'home:index'%}">Register New Course</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href= "{% url 'accounts:view_profile'%}">Profile</a></li>
                <li><a href="{% url 'accounts:edit_profile'%}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:change_password'%}">Change Password</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
            </ul>


    </div>
    

 </nav>
        </div>





<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Tokyo')" id="defaultOpen">Dowloads</button>
  <button class="tablinks" onclick="openCity(event, 'attribute')">Work with Attribute</button>
  <button class="tablinks" onclick="openCity(event, 'interface')">Interface</button>
  
  
  <!--<button class="tablinks" onclick="openCity(event, 'Paris')">Key Terms</button>
  <button class="tablinks" onclick="openCity(event, 'whatgis')">What is GIS</button>
  <button class="tablinks" onclick="openCity(event, 'gisdo')">What can GIS do </button>
  <button class="tablinks" onclick="openCity(event, 'Tos')">How gis works</button>
  <button class="tablinks" onclick="openCity(event, 'Par')">Longitude and Latitude</button>
  <button class="tablinks" onclick="openCity(event, 'Tok')">Coordinate System</button>-->
  
  <button class="tablinks" onclick="openCity(event, 'basicmap')">Create Basic Map</button>
  <button class="tablinks" onclick="openCity(event, 'classifvector')">Classifying Vector Data</button>
  <button class="tablinks" onclick="openCity(event, 'createmaps')">Create Maps</button>
  <button class="tablinks" onclick="openCity(event, 'Tok')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'To')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'Pa')">Coming soon</button>
  <button class="tablinks" onclick="openCity(event, 'To')">Coming soon</button>
</div>

<h1>GIS PRACTICLE</h1>
<br><br>


<div id="Tokyo" class="tabcontent">
	    <p>In this training we are going to use an Open Source Software called QGIS.  The First video walks you through QGIS installation process, please watch it
			first to avoid any confusion. The second video walks you through downloading data for this course. The third video walks you through the software for
			    downloading our videos </p><br>
	    <p>QGIS Installation</p>
    <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0"allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
    </div>
    <p>Please visit <a href= "https://qgis.org/en/site/forusers/download.html" target="_blank">www.qgis.com</a>to download Software.</p>        
    <br>
        
    <p>Download Data</p>      
    
    <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
    
    <p>Click <a href= "{%static 'Reg_Centre.zip'%}" download>Here</a> to download data for this Course.<br>
    
    <p>Downloading videos</p>
            <div class="video-container" style="border:#333333 2px solid; border-radius:12px; overflow:hidden;">
            <iframe src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe></div>
    <br>
        
      
       
</div>
 <br><br>    
<div id="attribute" class="tabcontent">
    
    
  <h2>Working with Attributes</h2>
  <p>GIS data has two parts - features and attributes. Attributes are structured data about each feature. This tutorial
  shows how to view the attributes and do basic queries on them in QGIS.</p>
   <h3>Overview of the task</h3>
   <p>The dataset for this tutorial contains information about populated places of the world. The task is to query and find
   all the capital cities in the world that have a population greater than 1,000,000.</p>
  <h3>Other skills you will learn</h3>
	    <ul>
	    <li>.Select features from a layer using expressions.</li>
	    <li>.Deselect features from a layer using the Attributes toolbar.</li>
	    <li>.Using Query Builder to show a subset of features from a layer.</li>
	    </ul>


<h2>Get the data</h2>

<p>Natural Earth has a nice Populated Places dataset. Click <a href= "{%static 'Reg_Centre.zip'%}" download>Here</a> to download data
for this subtopic.<br>

<h2>Procedures</h2>

<p>1. Once you have downloaded the data, open QGIS. Go to Layer Add Layer Add Vector Layer.</p>
<img src="{%static 'img/atrib1.jpg'%}" class= 'img-responsive'> 

<p>2. Click on Browse and navigate to the folder where you downloaded the data.</p>
 <img src="{%static 'img/atrib2.jpg'%}" class= 'img-responsive'>
    
<p>3. Locate the downloaded zip file populated places.zip. You do not need to unzip the file. QGIS has the ability to read
zip files directly. Select the file and click Open. </p>
 <img src="{%static 'img/atrib3.jpg'%}" class= 'img-responsive'>
    
<p>4. The selected layer will now be loaded in QGIS and you will see many points representing the populated places of the world. </p>
 <img src="{%static 'img/atrib4.jpg'%}" class= 'img-responsive'>
    
<p>5. Right click the layer and select Open Attribute Table. </p>
 <img src="{%static 'img/atrib5.jpg'%}" class= 'img-responsive'>
    
<p>6. Explore the various attributes and their values. </p>
 <img src="{%static 'img/atrib6.jpg'%}" class= 'img-responsive'>
    
<p>7. We are interested in the population of each feature, so pop max is the field we are looking for. You can click twice on the field
header to sort the column in descending order. </p>
 <img src="{%static 'img/atrib7.jpg'%}" class= 'img-responsive'>
    
<p>8. Now we are ready to perform our query on these attributes. QGIS uses SQL like expressions to perform queries. Click Select
features using an expression. </p>
<img src="{%static 'img/atrib8.jpg'%}" class= 'img-responsive'>
    
<p>9. In the Select By Expression window, expand the Fields and Values section and double-click the pop max label. You will notice
that it is added to the expression section at the bottom. If you aren't sure about the field values, you can click the Load all unique
values to see what the attribute values are present in the dataset. For this exercise, we are looking to find all features that have a
population greater than 1,000,000. So complete the expression as below and click Select. </p>
<img src="{%static 'img/atrib9.jpg'%}" class= 'img-responsive'> 
 
<p>10. Click on Close and return to the main QGIS window. You will notice that a subset of points is now rendered in yellow. This is the
result of our query and you are seeing all places from the dataset that have the pop max attribute value greater than 1,000,000. </p>
<img src="{%static 'img/atrib10.jpg'%}" class= 'img-responsive'>
    
<p>11. The goal for this exercise is to find the places that are country capitals. The field containing this data is admcap.
The value 1 indicates that the place is a capital. We can add this criteria to our previous expression using the and operator. Lets refine
our query to select only those places which are capital Click on the Select feature using an expression button in
the attribute table and enter the expression as below and click Select and then Close. </p>
<img src="{%static 'img/atrib11.jpg'%}" class= 'img-responsive'>
    
<p>12. Return to the main QGIS window. Now you will see a smaller subset of the points selected. This is the result of the second query
and shows all places from the dataset that are country capitals as well as have population greater than 1,000,000. If we wanted to do
some further analysis on this subset of data, we can make this selection persistent. Right click the populated places
layer and select Properties. </p>
<img src="{%static 'img/atrib12.jpg'%}" class= 'img-responsive'> 
    
<p>13. In the General tab, scroll down to the Feature subset section. Click Query Builder. </p>
<img src="{%static 'img/atrib13.jpg'%}" class= 'img-responsive'>
 <p>14. Enter the same expression you had entered earlier and click OK. </p>
<img src="{%static 'img/atrib14.jpg'%}" class= 'img-responsive'>
    
    <p>15. Back in the main QGIS window, you will see rest of the points disappear. You may now perform any other analysis on this layer and
    only the features that match our expression will be used. You will notice that the points still appear in yellow. This is because they
    are still selected. Find the Deselect Features from All Layers button under the Attributes toolbar and click on it. </p>
    <img src="{%static 'img/atrib15.jpg'%}" class= 'img-responsive'>
	
    <p>16. You will see that the points are now deselected and rendered in their original color. </p>
    <img src="{%static 'img/atrib16.jpg'%}" class= 'img-responsive'>
	
 <br><br>
</div>


<br>

<div id="interface" class="tabcontent">
    

<h2>The Interface</h2>
<img src="{%static 'img/interface_1.jpg'%}"   class= 'img-responsive'>
<h2>Lesson 1: A brief Introduction to QGIS</h2>
<p>In this module we introduce the QGIS project itself, as well as explaining the user interface.</p> 
<p>If you are new to GIS, we will tell you what you need to get started. If you are an experienced user, you will see how QGIS fulfils all
the functions you expect from a GIS program, and more.</p>
<h2>What is QGIS?</h2>
<p>QGIS is an open source geographic information system software. It runs on Windows, Mac OS X, and Linux. QGIS is a user-friendly GIS,
providing common functions and features; also a free, collaborative, cross-platform software that is constantly developing by QGIS community. </p>

<h2>Lesson 2: First thing first</h2>
<h3>Installing QGIS</h3>
<p>You can download setup file for QGIS using following link: https://www.qgis.org/en/site/index.html</p>
<p>After downloading the setup file, execute the file and install the software simply clicking "Next" for all dialog options. </p>
<h3>Download Common Operational Dataset</h3>
<p>CODs are core sets of data to be used in GIS software. Set includes administrative boundaries, populated places, road and river
infrastructure of the country. </p>

<p>You can download Tanzania COD using following link: </p>

<p>https://data.humdata.org/search?q=tanzania&ext_page_size=25</p>
<h3>Download provincial data of Tanzania</h3>
<p>Data source by OpenStreetMap with WFP-World Food Programme as contributor. This dataset includes main roads from OpenStreetMap
with the WFP data structure. </p>
<p>Link: https://data.humdata.org/dataset/tanzania-road-network</p>
<p>Data source by Global Health sites Mapping Project, this dataset shows the list of operating health facilities. Attributes included:
Name, Nature of Facility, Activities, Latitude and Longitude. </p>
<p>Link: https://data.humdata.org/dataset/tanzania-healthsites</p>
<h3>Remember GIS Data Models</h3>

<p>Vector data model: A representation of the world using vertices or points, connected vertices or lines, and closed connected vertices or
polygons. We will use the data of administrative boundaries and province centres. </p>

<p>Raster data model: A representation of the world as a surface divided into a regular grid of cells such as a satellite image or an
elevation surface. We will use a base map from OpenStreet Maps to visualize our map in a good way. </p>

<h2>Lesson 3: QGIS Graphical User Interface</h2>
<p>When QGIS starts, you are presented with the GUI as shown in the figure: </p>
<img src="{%static 'img/interface_2.jpg'%}"   class= 'img-responsive'>

<p>The QGIS graphical user interface is divided into five areas: </p>
<p>1. Menu Bar: Provides access to various QGIS features using a standard hierarchical menu. </p>
<p>2. Tool Bar: Provides access to most of the functions as the menus, plus additional tools for interacting with the map. </p>
<p>3. Map Legend: Lists all the data layers in the project. This area also allows to change style or label the layer. </p>
<p>4. Map View: The map displayed in this window will depend on the vector and raster layers you have chosen to load. </p>
<p>5. Status Bar: The status bar shows you your current position in map coordinates as the mouse pointer is moved across the map view. </p>

<p>Using these five areas, you can add a data layers, zoom to a specific area in the data, hide or show relevant layers and see the
coordinates, scale and projection of your displayed map. </p>

<h2>Lesson 4: Adding your first layers</h2>
<h3>Adding layer</h3> 
<p>To load a dataset, start QGIS and click on the Layer>Add Layer and, Add Vector Layer or simply press ctrl+shift+v. This will bring up a
new dialog: </p>

<img src="{%static 'img/interface_3.jpg'%}"   class= 'img-responsive'>
<p>Note: </p>
<p>A shapefile dataset must consist 5 different extension to represent a geographical data. These are *dbf, *dbf, *qpj, *sbx and *shp. </p>

<p>When File option selected as Source type, click Browse, and look for "TZA_adm1.shp" under the folder where you have saved your Files
Admin_Boundaries folder, select and click Add. </p>

<p>After selecting the *shp file, Add Layer menu should look like the following: </p>

<img src="{%static 'img/interface_4.jpg'%}"   class= 'img-responsive'>
<p>Note: </p>
<p>You can simply drag and drop the *shp file to the map canvas to open a layer. </p>

<p>Click Close. After closing the window, first level of administrative boundaries of Tanzania should be presented like as shown: </p>

<img src="{%static 'img/interface_5.jpg'%}"   class= 'img-responsive'>
<p>As you may notice, shape of the country looks skewed vertically. This is an effect of projection that we discussed earlier. Since QGIS
automatically selects WGS84 projection, we should change it into a different projection that represents Tanzania. </p>

<p>Select the option in the Status Bar that circled in the figure Project then click Properties, and open the CRS menu accordingly. </p>

<p>Click on CRS option on the top of the project properties menu. Type "Pseudo" in the Filter search menu. Also, you can type "3857",
the code the related projection. Select the related projection system and click OK. </p>

<img src="{%static 'img/interface_6.jpg'%}"   class= 'img-responsive'>

<p>Note: There are different projection systems that you can use for different purposes. </p>

<p>Now, boundaries of Tanzania should look like as shown: </p>

<img src="{%static 'img/interface_7.jpg'%}"   class= 'img-responsive'>

<p>Note: </p>
<p>QGIS will automatically assign a random colour for your polygons.</p>

<p>Congratulations, you have added your first layer. Let us do another one. </p>

<p>As same procedure, open Add Vector Layer, browse and select "tza_trs_roads_osm.shp" under the folder where you have saved your Files
TZA_roads folder. </p>

<img src="{%static 'img/interface_8.jpg'%}"   class= 'img-responsive'>

<p>Congratulations, you have added your second layer. Let us add a spreadsheet. </p>

<p>To add a spreadsheet into QGIS, click on the Layer>Add Layer and click Add Delimited Text Layer. This will bring up anew dialog: </p>

<img src="{%static 'img/interface_9.jpg'%}"   class= 'img-responsive'>

<p>This dialog allows you to select a wide range of properties for your layer. Even though most common usage of the delimited file is comma,
there are always different options. If your file using another delimiter rather than a comma, you can define your custom delimiter from
Custom delimiters. Click OK to add your data into QGIS. </p>

<p>Note: </p>
<p>If you have a csv file with coordinate value such as Latitude and Longitude, you can define your geometry by selecting Point Coordinates
and Reprojecting with same CRS. </p>

<p>Right click the data layer from the Map Legend area, then click Open Attribute Table to view attributes of the data. </p>

<img src="{%static 'img/interface_10.jpg'%}"   class= 'img-responsive'>

<p>Right now, we have three layers, one showing the boundaries, one showing the provincial health sites and provincial main roads data. </p>

<p>For next step, we will look at the attribute values of these layers. </p>


<h2>ATTRIBUTE DATA</h2>
<p>As we discussed earlier, attributes of the data refer to the properties of spatial entities such as identity, province name or another
specific information. They are often referred as spatial data since they represent location information. </p>

<p>To see the attributes of the Admin Boundaries data, right click the "TZA_adm1" layer from the Map Legend area, then click Open Attribute
Table to view attributes of the data. </p>

<img src="{%static 'img/interface_11.jpg'%}"   class= 'img-responsive'>

<p>Tip: </p>
<p>Select a feature and click Zoom to selected features to focus on a specific area. </p>

<p>Attribute Table is divided into three main areas: </p>
<p>1. Toolbar: Just like the toolbar in QGIS graphical user interface, this bar holds the functions you can execute to the data in attribute table, such as select, modify or deleting the features. </p>
<p>2. Field Names: Field name, in other words column name defines the attribute of the feature. </p>
<p>3. Number of the Feature: Shows the number of the entry, in this case the feature. Every feature defines a polygon of the region. For example; number 10 defines, NAME_1 of the feature is PEMBA NORTH, HASC_1 is TZ.PN, CCN_1 is 0, CCA_2 is 54, TYPE_ is MKOA, ENGTYPE_1 is REGION and VARNAME_1 of the feature is KASKAZINI PEMBA. </p>

<p>You can select a feature, modify the attributes, delete them or duplicate using this informative dialog scene. </p>

<p>Please examine the attribute values for the other layers as well. </p>


</div>
<br><br>
<div>
<div id="basicmap" class="tabcontent">
	
	<h1>Creating a Basic Map and Database</h1>
<img src="{%static 'img/createbasicmap_1.jpg'%}"   class= 'img-responsive'>
<p>In this module, you will create a basic map which will be used later as a basis for further demonstrations of QGIS functionality.</p>
<h2>Lesson 1: Working with Vector Data</h2>
<p>Vector data is arguably the most common kind of data you will find in the daily use of GIS. It describes geographic data in terms of
points that may be connected into lines and polygons. Every object in a vector dataset is called a feature, and is associated with data that
describes that feature. </p>
<h3>Viewing Layer Attributes</h3>
<p>It is important to know that the data you will be working with does not only represent where objects are in space, but also tells you
what those objects are. </p>
<p>From the previous exercise, you should have the roads layer loaded in your map. What you can see right now is merely the position of the
roads. </p>
<img src="{%static 'img/createbasicmap_2.jpg'%}"   class= 'img-responsive'>
    
    
<p>To see all the data available to you, with the roads layer selected in the Layers panel: Click on the Open Attribute Table </p>
<p>It will show you a table with more data about the roads layer. This extra data is called attribute data. The lines that you can see on
your map represent where the roads go; this is the spatial data. </p>
<img src="{%static 'img/createbasicmap_3.jpg'%}"   class= 'img-responsive'>
<p>You may now close the attribute table. </p>
<p>Vector data represents features in terms of points, lines and polygons on a coordinate plane. It is usually used to store discrete
features, like roads and city blocks. </p>
<h3>Loading Vector Data from Shapefiles</h3>
<p>The Shapefiles is a specific file format that allows you to store GIS data in an associated group of files. Each layer consists of
several files with the same name, but different file types. Shapefiles are easy to send back and forth, and most GIS software can read them. </p>
<p>Refer back to the introductory exercise in the previous section for instructions on how to add vector layers. </p>
<p>Load the data sets into your map following the same method:  Health centres, water bodies (Lakes) and rivers. </p>
<img src="{%static 'img/createbasicmap_4.jpg'%}"   class= 'img-responsive'>
<h3>How to create a spatialite database</h3> 
<p>Databases allow you to store a large volume of associated data in one file. You may already be familiar with a database management system
(DBMS) such as Microsoft Access. GIS applications can also make use of databases. GIS-specific DBMSes (such as PostGIS) have extra functions,
because they need to handle spatial data. </p>
<p>Open QGIS and the exploration panel. If the panel Browse is missing, click View | Panels, and click Browse. In this panel you will find
the access to SpatiaLite</p>
<p>-Right click on the SpatiaLite entry in the Browser tree and select Create Database. </p>
<p>-Select the directory of your choice and name the new database for example qgis-pl.db. It will appear under the rubric SpatiaLite. </p>
<img src="{%static 'img/createbasicmap_5.jpg'%}"   class= 'img-responsive'>
<p>-Click the refresh button at the top of the Browser and you should now see your database qgis-pl.db as shown below. </p>
<img src="{%static 'img/createbasicmap_6.jpg'%}"   class= 'img-responsive'>
<h3>How to import data into SpatiaLite Database</h3>
<p>It is very easy to import data into SpatiaLite database if using the QGIS database manager. You can import directly the following
formats: </p>

<p>. Shapefile (.shp) </p>
<p>. Dbase (.dbf) </p>
<p>. Text (.txt), Commas Separate Values (.csv), et feuilles Excel (.xls) </p>
<p>. Well-known Text (.wkt) et Well-known Binary (.wkb) </p>
<p>. PostGIS (.ewkt / .ewkb) </p>
<p>. Geography Markup Language (.gml) </p>
<p>. Keyhole Markup Language (.kml) </p>
<p>. Geometry JavaScript Object Notation (.geojson) </p>
<p>. Scalable Vector Graphics (.svg) </p>
<p>Let's see how to import a shapefiles: </p> 
<p>1. Open the database manager by clicking Database Manager in the Database menu. </p> 
<img src="{%static 'img/createbasicmap_7.jpg'%}"   class= 'img-responsive'>
<p>2. Open SpatiaLite and select qgis-pl.db in the tree. </p>
<img src="{%static 'img/createbasicmap_8.jpg'%}"   class= 'img-responsive'>
<p>3. Go to the menu Table/Import a layer or a file to open the dialog Import a vector layer, as shown in the screenshot below. </p>
<p>5. Highlight the shapefile you want to load. </p>
<p>6. Click Upgrade options to load the rest of the dialogue box. The name of the output table will be filled with the name of the input
shapefile. </p>


<p>7. Set up the following options: </p>
<p>*Select SCR Source and enter the EPSG code for the input data. If you do not want to change the coordinates system when proceeding to
the import, it is useless to define the SCR target, alternatively, you can enter the desired coordinate system for the data in the database.
*Select create a spatial index. </p>
<p>8. Click OK to import the file. </p>
<img src="{%static 'img/createbasicmap_9.jpg'%}"   class= 'img-responsive'>
<p>Once the table is uploaded, you can display it directly in the cartographic window by double-clicking the table's name. </p>
<img src="{%static 'img/createbasicmap_10.jpg'%}"   class= 'img-responsive'>
<p>You can import more other vector layers. </p>
<h2>Lesson 2: Symbology</h2>
<p>The symbology of a layer is its visual appearance on the map. The basic strength of GIS over other ways of representing data with spatial
aspects is that with GIS, you have a dynamic visual representation of the data you are working with. </p>
<p>Therefore, the visual appearance of the map (which depends on the symbology of the individual layers) is very important. The end user of
the maps you produce will need to be able to easily see what the map represents. Equally as important, you need to be able to explore the
data as you're working with it, and good symbology helps a lot. </p>
<p>In other words, having proper symbology is not a luxury or just nice to have. In fact, it is essential for you to use a GIS properly and
produce maps and information that people will be able to use. </p>
<h3>Changing colours</h3>
<p>To change a layer's symbology, open its Layer Properties. Let's begin by changing the colour of the water bodies (Lakes) layer. </p>
<p>Right-click on the water bodies (Lakes) layer in the Layers list. </p>
<p>Select the menu item Properties in the menu that appears. </p>
<img src="{%static 'img/createbasicmap_11.jpg'%}"   class= 'img-responsive'>
    
    
    
<p>Note
<p>By defaulting you can also access a layer's properties by double-clicking on the layer in the layer list. </p>

<p>In the Properties window: </p>
<p>Select the Symbology tab at the extreme left: </p>
<img src="{%static 'img/createbasicmap_12.jpg'%}"   class= 'img-responsive'>
<p>Click the colour select the dropdown button next to the colour label. A standard colour dialog will appear. </p>
<p>Choose a blue colour and click OK. </p>
<p>Click OK again in the Layer Properties window, and you will see the colour change being applied to the layer. </p>
<img src="{%static 'img/createbasicmap_13.jpg'%}"   class= 'img-responsive'>

<h3>Changing Symbol Structure</h3>
<p>This is good stuff so far, but there is more to a layer's symbology than just its colour. Next we want to eliminate the lines between
the different land use areas so as to make the map less visually cluttered. </p>
<p>-Open the Layer Properties window for the water bodies (Lakes) layer. </p>
<p>Under the symbology tab, you will see the same kind of dialog as before. This time, however, you are doing more than just quickly
changing the colour. </p>
<p>-In the single symbol panel, expand the Fill dropdown (if necessary) and select the Simple fill option: </p>
<img src="{%static 'img/createbasicmap_14.jpg'%}"   class= 'img-responsive'>
<p>-Click on the Stroke style dropdown. At the moment, it should be showing a short line and the words Solid Line. </p>
<p>-Change this to No Pen. </p>
<p>-Click OK. </p>
<img src="{%static 'img/createbasicmap_15.jpg'%}"   class= 'img-responsive'>
Now the water bodies (Lakes) layer won't have any lines between areas. </p>



<img src="{%static 'img/createbasicmap_16.jpg'%}"   class= 'img-responsive'>
<h3>Scale-Based visibility</h3>
<p>Sometimes you will find that a layer is not suitable for a given scale. For example, a dataset of all the continents may have low detail,
and not be very accurate at street level. When that happens, you want to be able to hide the dataset at inappropriate scales. </p>
<p>In our case, we may decide to hide the buildings from view at small scales. The buildings are hard to distinguish at that scale. </p>
<img src="{%static 'img/createbasicmap_17.jpg'%}"   class= 'img-responsive'>
<p>Open the Layer Properties dialog for the buildings layer. </p>
<p>Activate the Rendering tab. </p>
<p>Enable scale-based rendering by clicking on the checkbox labelled Scale dependent visibility: </p>
<img src="{%static 'img/createbasicmap_18.jpg'%}"   class= 'img-responsive'>
<p>Change the Minimum value to 1:100,000. </p>
<p>Click OK. </p>
<p>Test the effects of this by zooming in and out in your map, noting when the buildings layer disappears and reappears. </p>
<p>Note: </p>
<p>You can use your mouse wheel to zoom in increments. Alternatively, use the zoom tools to zoom to a window: </p>


	
	
</div>

<br><br>

<div>
    <div id="classifvector" class="tabcontent">
	
	
<img src="{%static 'img/classifyvector_1.jpg'%}"   class= 'img-responsive'>
<h1>Classifying Vector Data</h1>
<p>Classifying vector data allows you to assign different symbols to features (different objects in the same layer), depending on their
attributes. This allows someone who uses the map to easily see the attributes of various features.</p>
<h2>Lesson 1: Attribute Data</h2>
<p>Up to now, none of the changes we have made to the map have been influenced by the objects that are being shown. In other words all the
roads look alike. When looking at the map, the viewers don't know anything about the roads they are seeing; only that there is a road of a
certain shape in a certain area. </p>
<p>But the whole strength of GIS is that all the objects that are visible on the map also have attributes. Maps in a GIS are not just
pictures. They represent not only objects in locations, but also information about those objects. </p>
<p>Open the attribute table for the health sites layer (refer back to the section "Working with Vector Data" if necessary). Which field
would be the most useful to represent in label form, and why? </p>
<p>The NAME field is the most useful to show as labels. This is because all its values are unique for every object and are very unlikely
to contain NULL values. If your data contains some NULL values, do not worry as long as most of your places have names. </p>
<p>You now know how to use the attribute table to see what is actually in the data you are using. Any dataset will only be useful to you
if it has the attributes that you care about. If you know which attributes you need, you can quickly decide if you are able to use a given
dataset, or if you need to look for another one that has the required attribute data. </p>



<h2>Lesson 2: The Label Tool</h2>
<p>Labels can be added to a map to show any information about an object. Any vector layer can have labels associated with it. These labels
rely on the attribute data of a layer for their content. </p>
<p>Note</p>
<p>The Layer Properties dialog does have a Labels tab, which now offers the same functionality, but for this example we will use the Label
tool, accessed via a toolbar button. </p>
<h3>Using Labels</h3>
<p>Before being able to access the Label tool, you will need to ensure that it has been activated. </p>
<p>Go to the menu item View the select Toolbars</p> 
<p>Ensure that the Label Toolbar item has a check mark next to it. If it does not, click the item to check mark and it will be
activated. </p>
<img src="{%static 'img/classifyvector_2.jpg'%}"   class= 'img-responsive'>
<p>Click on the TZA_adm1 layer in the Layer list, so that it is highlighted. </p>
<p>Click on the following toolbar button:
<img src="{%static 'img/classifyvector_3.jpg'%}"   class= 'img-responsive'>
<p>This gives you the Layer styling dialog. </p>
<p>Click the dropdown button named No Labels to select Single labels as shown on screenshot below. </p>
<img src="{%static 'img/classifyvector_4.jpg'%}"   class= 'img-responsive'>
<p>You will need to choose which field in the attributes will be used for the labels. In the previous lesson, you decided that the NAME
field was the most suitable one for this purpose. </p>
<p>Click dropdown button Label with and then select Name_1 from the list. </p>
<img src="{%static 'img/classifyvector_5.jpg'%}"   class= 'img-responsive'>



<p>-Click Apply</p>
<p>The map should now have labels like this: </p>
<img src="{%static 'img/classifyvector_6.jpg'%}"   class= 'img-responsive'>
<h3>Changing Labels options</h3>
<p>Depending on the styles you chose for your map in earlier lessons, you will might find that the labels are not appropriately formatted
and either overlap or are too far away from their point markers. </p>
<p>Open the Layer styling dialog again by clicking on its button as before. </p>
<p>Make sure Text Font is selected in the left-hand options list, then update the text formatting options to match those shown here: </p>
<img src="{%static 'img/classifyvector_7.jpg'%}"   class= 'img-responsive'>
<p>That is the font problem solved! Now let us look at the problem of the labels overlapping the points, but before we do that, let us take
a look at the Buffer option. </p>
<p>Open the Layer styling dialog. </p>
<p>Select Buffer icon below the Label with dropdown list as shown on the screenshot. </p>
<img src="{%static 'img/classifyvector_8.jpg'%}"   class= 'img-responsive'>
<p>Select the checkbox next to Draw text buffer, then choose options to match those shown here: </p>
<img src="{%static 'img/classifyvector_9.jpg'%}"   class= 'img-responsive'>
<p>Click Apply</p>
<p>You will see that this adds a colour buffer or border to the place labels, making them easier to pick out on the map: </p>
<img src="{%static 'img/classifyvector_10.jpg'%}"   class= 'img-responsive'>
<p>Now we can address the positioning of the labels in relation to their point markers. </p>
<p>In the Layer styling dialog, go to the Placement tab which is below the Label with dropdown list. </p>
<p>Change the value of Distance to 1mm and make sure that Around centroid is selected: </p>
<img src="{%static 'img/classifyvector_11.jpg'%}"   class= 'img-responsive'>
<p>Click Apply. </p>


<p>You will see that the labels are no longer overlapping their point markers. </p>
<img src="{%static 'img/classifyvector_12.jpg'%}"   class= 'img-responsive'>
<h2>Lesson 3: Classification</h2>
<p>Labels are a good way to communicate information such as the names of individual places, but they cannot be used for everything.
For example, let us say that someone wants to know what each Land use area is used for. </p>
<p>Load the dar_es_salaam_luse_2002 Layer</p>
<p>Using labels, you had get this: </p>
<img src="{%static 'img/classifyvector_13.jpg'%}"   class= 'img-responsive'>
<p>This makes the map's labelling difficult to read and even overwhelming if there are numerous different land use areas on the map. </p>
<h3>Classifying Nominal Data</h3>
<p>Open the Layer styling dialog for the land use dar_es_salaam_luse_2002 layer. </p>
<p>Go to the Style tab. </p>
<p>Click on the dropdown that says Single Symbol and change it to Categorized as shown on screenshot below: </p>
<img src="{%static 'img/classifyvector_14.jpg'%}"   class= 'img-responsive'>
<p>In the new panel, change the Column to Luse_Type and the Colour ramp to Greens. </p>
<p>Click the button labelled Classify. </p>
<img src="{%static 'img/classifyvector_15.jpg'%}"   class= 'img-responsive'>
<p>Click OK. </p>
<p>You will see something like this: </p>
<img src="{%static 'img/classifyvector_16.jpg'%}"   class= 'img-responsive'>
<p>Click the arrow (or plus sign) next to dar_es_salaam_luse_2002 in the Layer list, you will see the categories explained: </p>
<img src="{%static 'img/classifyvector_17.jpg'%}"   class= 'img-responsive'>
<p>Now you may wish to change colour to each land use to a colour you like to have for each layer as seen below: </p>
<img src="{%static 'img/classifyvector_18.jpg'%}"   class= 'img-responsive'>



<h3>Ratio Classification</h3>
<p>There are four types of classification: nominal, ordinal, interval and ratio. </p>
<p>In nominal classification, the categories that objects are classified into are name-based; they have no order. For example: town names,
district codes, etc. </p>
<p>In ordinal classification, the categories are arranged in a certain order. For example, world cities are given a rank depending on their
importance for world trade, travel, culture, etc. </p>
<p>In interval classification, the numbers are on a scale with positive, negative and zero values. For example: height above/below sea level,
temperature above/below freezing (0 degrees Celsius), etc. </p>
<p>In ratio classification, the numbers are on a scale with only positive and zero values. For example: temperature above absolute zero
(0 degrees Kelvin), distance from a point, the average amount of traffic on a given street per month, etc. </p>
<p>In the example above, we used nominal classification to assign each farm to the town that it is administered by. Now we will use ratio
classification to classify the farms by area. </p>
<p>-Save your land use symbology (if you want to keep it) by clicking on the Save Style button in the Style dialog. </p>
<p>We are going to reclassify the layer, so existing classes will be lost if not saved. </p>
<p>Close the Style dialog. </p>
<p>Open the Attributes Table for the dar_es_salaam_luse_2002 layer. </p>

<p>We want to classify the land use areas by size, but there is a problem: they don't have a size field, so we will have to make one. </p>
<p>Enter edit mode by clicking Toggle Editing button on the Attribute table toolbar</p>
<p>Then add a new column by clicking New field button</p>
<p>Set up the dialog that appears, like this: </p>
<img src="{%static 'img/classifyvector_19.jpg'%}"   class= 'img-responsive'>
<p>Click OK. </p>
<p>The new field will be added (at the far right of the table; you may need to scroll horizontally to see it). However, at the moment it is
not populated, it just has a lot of NULL values. </p>
<p>To solve this problem, we will need to calculate the areas. </p>
<p>Click on the Open the field calculator button. </p>
<p>You will get this dialog: </p>
<img src="{%static 'img/classifyvector_20.jpg'%}"   class= 'img-responsive'>
<p>Change the values at the top of the dialog to look like this: </p>
<img src="{%static 'img/classifyvector_21.jpg'%}"   class= 'img-responsive'>
<p>In the Function List, select Geometry -> $area: </p>
<img src="{%static 'img/classifyvector_22.jpg'%}"   class= 'img-responsive'>
<p>Double-click on it so that it appears in the Expression field. </p>
<p>Click OK. </p>
<p>Now your AREA field is populated with values (you may need to click the column header to refresh the data). Save the edits and
click OK. </p>
<p>Note</p>
<p>These areas are in degrees. Later, we will compute them in square meters. </p>
<p>Open the Layer properties dialog's Style tab.
<p>Change the classification style from Categorized to Graduate. </p>
Change the Column to AREA: </p>
<p>Under Colour ramp, choose the option Create new colour ramp to get this dialog: </p>
<img src="{%static 'img/classifyvector_23.jpg'%}"   class= 'img-responsive'>
<p>Choose Gradient (if it is not selected already) and click OK. You will see this: </p>
<img src="{%static 'img/classifyvector_24.jpg'%}"   class= 'img-responsive'>
<p>You will be using this to denote area, with small areas as Color 1 and large areas as Color 2. </p>
<p>Choose appropriate colors. </p>
<p>In the example, the result looks like this: </p>
<img src="{%static 'img/classifyvector_25.jpg'%}"   class= 'img-responsive'>
<p>Click OK. </p>
<p>Choose a suitable name for the new color ramp by selecting save color ramp</p>
<p>Click OK after filling in the name. </p>
<p>Now you will have something like this: </p>
<img src="{%static 'img/classifyvector_26.jpg'%}"   class= 'img-responsive'>
<p>Leave everything else as it is. </p>
<p>Click Apply</p>

    
</div>

<br>


<div>
      <div id="createmaps" class="tabcontent">
	
	<img src="{%static 'img/createmap_1.jpg'%}"   class= 'img-responsive'>
<h1>Creating Maps</h1>
<h2>Lesson 1: Using Map Composer or (Layout Manager)</h2>
<p>Now that you have got a map, you need to be able to print it or to export it to a document. The reason is, a GIS map file is not an
image. Rather, it saves the state of the GIS program, with references to all the layers, their labels, colors, etc. So for someone who
doesn't have the data or the same GIS program (such as QGIS), the map file will be useless. Luckily, QGIS can export its map file to a format that anyone's
computer can read, as well as printing out the map if you have a printer connected. Both exporting and printing is handled via the Map Composer or Layout
composer depending on which QGIS version your using.</p>
<h3>The Composer Manager or Layout Manager</h3>
<p>QGIS allows you to create multiple maps using the same map file. For this reason, it has a tool called the Composer Manager or Layout Manager.</p>
<p>Click on the Project -> Composer Manager Menu or Layout Manager entry to open this tool. </p>
 <p>You will see a blank Composer Manager or Layout Manager dialog appear.</p>
<p>Click the Add or Create button and give the new composer the name of Arusha.</p>
<p>Click OK.</p>
<p>Click the Show button.</p>
<p>(You could also close the dialog and navigate to a composer via the File -> Print Composer menus, as in the image below.)</p>
<img src="{%static 'img/createmap_2.jpg'%}"   class= 'img-responsive'>
<p>Whichever route you take to get there, you will now see the Print Composer or Print Layout window:
<img src="{%static 'img/createmap_3.jpg'%}"  class= 'img-responsive'>
<h3>Basic Map Composition</h3>
<p>In this example, the composition was already the way we wanted it. Ensure that yours is as well. </p>
<p>In the Print Composer or Print Layout window, check that the values under Guides and Grid are set to the following: </p>
<p>Grid spacing: 10.00 mm</p>
<p>Grid offset: (x: 297.00 mm) and (y: 210.00mm) </p>
<p>Export resolution: 300dpi</p>

<img src="{%static 'img/createmap_4.jpg'%}"   class= 'img-responsive'>
<p>Now you have got the page layout the way you wanted it, but this page is still blank. It clearly lacks a map. Let us fix that! </p>
<p>Click on the Add new map to the Layout button:
<img src="{%static 'img/createmap_5.jpg'%}"   class= 'img-responsive'>
<p>With this tool activated, you will be able to place a map on the page. </p>
<p>Click and drag a box on the blank page</p>

<p>The map will appear on the page. </p>
<p>Move the map by clicking and dragging it around:
<img src="{%static 'img/createmap2_6.jpg'%}"   class= 'img-responsive'>
<p>Resize it by clicking and dragging the boxes in the corners:
<p>Note
<p>Your map may look a lot different, of course! This depends on how your own project is set up. But not to worry! These instructions are general,
so they will work the same regardless of what the map itself looks like. </p>
<p>Be sure to leave margins along the edges, and a space along the top for the title. </p>
<p>-Zoom in and out on the page (but not the map!) by using these buttons:<img src="{%static 'img/createmap_7.jpg'%}"   class= 'img-responsive'>

<p>Zoom and pan the map in the main QGIS window. You can also pan the map using the Move item content tool:
<img src="{%static 'img/createmap_8.jpg'%}"   class= 'img-responsive'>

<p>When zooming in, the map view will not refresh by itself. This is so that it does not waste your time redrawing the map while you are zooming the page to
where you want it, but it also means that if you zoom in or out, the map will be at the wrong resolution and will look ugly or unreadable. </p>
<p>Force the map to refresh by clicking this button:
<img src="{%static 'img/createmap_9.jpg'%}"   class= 'img-responsive'>
<p>Remember that the size and position you have given the map does not need to be final. You can always come back and change it later if you are not satisfied.
For now, you need to ensure that you have saved your work on this map. Because a Composer in QGIS is part of the main map file, you will need to save your main
project. Go to the main QGIS window (then one with the Layers list and all the other familiar elements you were working with before), and save your project
from there as usual. </p>
<h3>Adding a Title</h3>
<p>Now your map is looking good on the page, but your readers/users are not being told what is going on yet. They need some context, which is what you will
provide for them by adding map elements. First, let us add a title. </p>

<p>Click on this button:<img src="{%static 'img/createmap_10.jpg'%}"   class= 'img-responsive'>
<p>Click on the page, above the map, and a label will appear at the top of the map. </p>
<p>Resize it and place it in the top center of the page. It can be resized and moved in the same way that you resized and moved the map. </p>

<p>As you move the title, you will notice that guidelines appear to help you position the title in the centre of the page. </p>
<p>However, there is also a tool to help position the title relative to the map (not the page):
<img src="{%static 'img/createmap_11.jpg'%}"   class= 'img-responsive'>
<p>Click the map to select it. </p>
<p>Hold in Shift on your keyboard and click on the label so that both the map and the label are selected. </p>
<p>Look for the Align button <img src="{%static 'img/createmap_12.jpg'%}"   class= 'img responsive'>  and click on the dropdown arrow next to it to reveal
the positioning options and click Align centre:
<img src="{%static 'img/createmap_13.jpg'%}"   class= 'img responsive'>

<p>To make sure that you do not accidentally move these elements around now that you have aligned them: </p>
<p>Right-click on both the map and the label. </p>







<p>A small lock icon will appear in the corner to tell you that an element cannot be dragged right now. You can always right-click on an element again to unlock
it, though. </p>
<p>Now the label is cantered to the map, but not the contents. To centre the contents of the label: </p>
<p>Select the label by clicking on it. </p>

<p>Click on the Item Properties tab in the side panel of the composer window. </p>
<p>Change the text of the label to "Arusha": </p>
<p>Use this interface to set the font and alignment options:

<img src="{%static 'img/createmap_14.jpg'%}"   class= 'img responsive'>
<p>Choose a large but sensible font (the example will use the default font with a size of 36) and set the Horizontal Alignment to Centre. </p>
<p>You can also change the font color, but it is probably best to keep it black as per the default. </p>
<p>The default setting is not to add a frame to the title text box. However, if you wish to add a frame, you can do so: </p>
<p>In the Item Properties tab, scroll down until you see the Frame option. </p>
<p>Click the Frame checkbox to enable the frame. You can also change the frame color and width. </p>
<p>In this example, we will not enable the frame. </p>
<h3>Adding a Legend</h3>
<p>The map reader also needs to be able to see what various things on the map actually mean. In some cases, like the place names, this is quite obvious.
In other cases, it is more difficult to guess, like the colors of the farms. Let us add a new legend. </p>

<p>Click on this button: <img src="{%static 'img/createmap_15.jpg'%}"   class= 'img responsive'> 
<p>Click on the page to place the legend, and move it to where you want it: </p>

<img src="{%static 'img/createmap_16.jpg'%}"   class= 'img responsive'> 

<h3>Customizing Legend Items</h3>
<p>Not everything on the legend is necessary, you can remove some unwanted items by following: </p>
<p>In the Item Properties tab, you will find the Legend items panel. </p>
<p>Select the unwanted entry. </p>
<p>Delete it from the legend by clicking the minus button:<img src="{%static 'img/createmap_17.jpg'%}"   class= 'img responsive'> 
  
<p>You can also rename items.</p>
<p>Select a layer from the same list. </p>
<p>Click the Edit button: </p> 
<p>You can rename the layers to Places, Roads, Streets, and Rivers etc. </p>
<p>You can set a layer to Hidden, then click the down arrow and edit each category to name them on the legend. You can also reorder the items: </p>
<h3>Exporting Your Map</h3>
<p>Finally the map is ready for export! You will see the export buttons near the top left corner of the Composer window:
<img src="{%static 'img/createmap_18.jpg'%}"   class= 'img responsive'> 

<p>The button on the left is the Print button, which interfaces with a printer. Since the printer options will differ depending on the model of printer that
you are working with, it is probably better to consult the printer manual or a general guide to printing for more information on this topic. </p>

<p>The other three buttons allow you to export the map page to a file. There are three export formats to choose from: </p>
<p>Export as Image</p>
<p>Export as SVG</p>
<p>Export as PDF</p>

<p>Exporting as an image will give you a selection of various common image formats to choose from. This is probably the simplest option, but the image it
creates is "dead" and difficult to edit. The other two options are more common. </p>

<p>If you are sending the map to a cartographer (who may want to edit the map for publication), it is best to export as an SVG. SVG stands for "Scalable
Vector Graphic", and can be imported to programs like Inkscape or other vector image editing software. </p>
<p>If you need to send the map to a client, it is most common to use a PDF, because it is easier to set up printing options for a PDF. Some cartographers
may prefer PDF as well, if they have a program that allows them to import and edit this format. </p>
<p>For our purposes, we are going to use PDF. </p>
<p>Click the Export as PDF button: <img src="{%static 'img/createmap_19.jpg'%}"   class= 'img responsive'> 
<p>Choose a save location and a file name as usual. </p>
<p>Click Save. </p>
<p>Close the Composer window. </p>
<p>Save your map. </p>
<p>Find your exported PDF using your operating system file manager. </p>
<p>Open it. </p>

</div>

<div>
</div>


<script>
    
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();



</script>
     
</body>
</html> 
