<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}


	<main class="main-wrapper">
		<aside class="left-sidebar">
			<div class="search-area"><form action=""><input type="text" placeholder="Type to search.. "></form></div>

			<div class="scroll-sidebar">
				<nav class="sidebar-nav">
					<ul id="sidebarnav" class="top-ul"> 
						<li class="nav-small-cap">MENU</li>
			
						<li><a href="{% url 'home:gisprac_q_intro' %}" >Introduction</a></li>
						<li><a href="#" class="active">QGIS Interface</a>	
							<ul class="submenu">
								<li><a href="" id="link1">Spatial Data</a></li>			
								<li><a href="" id="link2">Attribute Data</a></li>
								<li><a href="" id="link3">Map Making</a></li>
								<li><a href="" id="link4">Print Composer</a></li>
								<li><a href="{% url 'quiz:interface' %}" >Test</a></li>
							</ul>
						</li>
	
						<li><a href="{% url 'home:gisprac_attribute' %}" >Coordinate system</a></li>
						<li><a href="{% url 'home:gisprac_q_datacreation' %}" >Data Creation</a></li>
					
					
						
						<li><a href="#" >Data Creation</a></li>
						<li><a href="#" >Coming soon</a></li>
						<li><a href="#" >Coming soon</a></li>
						
						
						
					</ul>
				</div>
				
				
				
				
				</nav>
			</div>
				
				
		</aside>





	<div class="main-section">
		<div class="container">


				<h1 class="topic-title">GIS Interface</h1>

			<div id="linkintro">
				
				
				<p>This module aims to familiarize you with the Quantum GIS (QGIS
				3.2) interface and GIS features by exploring the elements in the menu
				bar, using the main tools to display geographical data, managing the layer
				attributes and eventually creating thematic maps. After completing this section, you will be able to correctly identify the
				main elements of the screen in QGIS and know what each of them does, and load a shapefile into QGIS.</p>
					
				<p>If you are an experienced user,
				you will see how QGIS fulfils all the functions you expect from a GIS program, and more.</p>
					
				
					
				<p><span>Download Data</p></span>
				<p>1.Obtain files to be used for this tutorial from  <a href= "{%static 'Nanyumbu.zip'%}" download>Nanyumbu</a> .</p>
				<p>2. When prompted click Save As and save these files in your personal file folder (i.e. X:Drive) or on an external source
				(i.e. a USB).
				<p>3. Unzip the file.</p>
				<p>4. Run QGIS (Start > All Programs > QGIS Brighton > QGIS Desktop 3.2) or the latest version.</p>
				<p>5. Click Project [Menu Bar] > Save Navigate to your personal file folder and save the project with a name.</p>
				
				
				
									
				<p><span>Key learning skills</p></span>
				<p>In this practical, you will learn the following skills:</p>
					<p>1. Organizing and manipulating data layers</p>
					<p>2. Using symbology</p>
					<!--<p>3. Understanding map projections</p>-->
					<p>4. Map production</p>

					
					
					
			</div>

				<hr>

			
			<div id="link1data" class="animated fadeIn">

		<p>There are two components to GIS data: spatial data and attribute data.</p>
		
		<h1><span>Spatial Data.</span></h1>
		<p>Spatial data, also known as geospatial data, is information about a physical object that can be represented by numerical values
		in a geographic coordinate system.</p>
		<P>Spatial data represents the location, size and shape of an object on planet Earth such as a building, lake, mountain or township.
		Spatial data may also include attributes that provide more information about the entity that is being represented. </P>
		
		<P> Spatial data is usually stored as coordinates and topology, and is data that can be mapped. Spatial data is often accessed,
		 manipulated or analyzed through Geographic Information Systems (GIS).</P>
		
		<h2><span>Shapefile.</span></h2>
		 <p>A shapefile is a format for storing information of location and behaviour (attribute data) 
		of geographic features or in another language; Shapefile can be made of both spatial data and attribute data.
		The spatial data is the where and attribute data can contain information about the what, where, and why.</p>
		
		<p>Geographic features in a shapefile can be represented by points, lines, or polygons (areas)for example, water wells, rivers, and lakes. Each item usually has attributes that describe it, such as name or temperature.
		The workspace containing shapefiles may also contain dBASE tables, which can store additional attributes that can be
		joined to a shapefile's features.</p>
		
		<p>Despite its name indicating a singular file, a shapefile is actually a collection of at least three basic files (Mandatory files)
		with specific file extensions that should be stored in the same project workspace. They are:.shp, .shx, .dbf</p>
		
		
		<p><span>Shapefile extension</p></span>
		<p>All shapefile files must have the same name but have different extensions.  There are three required files that,
		at a minimum, make up a shapefile.  For example, a water GIS data set must have the minimum set of files: water.shp, water.shx, and water.dbf.</p>
		<p>These three minimum files are:</p>
		<ul>
		<li><p>.shp-The main file that stores the feature geometry; required.</p></li>
		<li><p>.shx-The index file that stores the index of the feature geometry; required.</p></li>
		<li><p>.dbf-The dBASE table that stores the attribute information of features; required.</p></li>
		</ul>
		<p>All three files must be present in the same directory for the shapefile to be viewable. There may be additional files with the shapefile's projection information.  </p>
		<p><span>Other files</span></p>
		<ul>
		<li><p>.prj-projection format; the coordinate system and projection information, a plain text file describing the projection using well-known text format</p></li>
		<li><p>.sbn and .sbx - a spatial index of the features</p></li>
		<li><p>.fbn and .fbx - a spatial index of the features that are read-only</p></li>
		<li><p>Others includes;.ain and .aih,.ixs, .mxs, .atx, .shp,.xml, .cpg, and .qix 
		</ul>
		<p>Because a single shapefile contain three or more files, if you do copy a shapefile, be sure to copy all the files that make up the shapefile.</p>
		
		
			
			
		<p><span>Add first Shapefile</span></p>
					<p>To load a shapefile, start QGIS and click on the Layer>Add Layer and, Add Vector Layer or simply press ctrl+shift+v. This will bring up a
					new dialog: </p>
					
					<img src="{%static 'img/interface_3.jpg'%}"   class= 'img-responsive'>
						<br><br><br>
					<p>Note: A shapefile dataset must consist 5 different extension to represent a geographical data. These are *dbf, *dbf, *qpj, *sbx and *shp. </p>
					
					<p>When File option selected as Source type, click Browse, and look for "TZ.shp" under the folder where you have saved your Files
					Admin_Boundaries folder, select and click Add. </p>
					
					<p>After selecting the *shp file, Add Layer menu should look like the following: </p>
					
					<img src="{%static 'img/interface_4.jpg'%}"   class= 'img-responsive'>
					<p>Note: </p>
					<p>You can simply drag and drop the *shp file to the map canvas to open a layer. </p>
					
					<p>Click Close. After closing the window, first level of administrative boundaries of Tanzania should be presented like as shown: </p>
					
					<img src="{%static 'img/interface_5.jpg'%}"   class= 'img-responsive'>
					
					
					<p>Note: </p>
					<p>QGIS will automatically assign a random colour for your polygons.</p>
					
					<p>Congratulations, you have added your first layer. Let us do another one. </p>
				<p><span>Add second Shapefile</span></p>
					<p>As same procedure, open Add Vector Layer, browse and select "roads.shp" under the folder where you have saved your Files
					TZ folder. </p>
					
					<img src="{%static 'img/interface_8.jpg'%}"   class= 'img-responsive'>
					
					
						
						
			</div>

					<hr>
						<br>


		

				




			<div id="link2data" class="animated fadeIn">
					<h1>
						Attribute Data
					</h1>

					<p>attribute data is a structured data about each feature.
					For example of a house-  attributes of the house are things like size, colour, number of rooms etc.</p>
					
					<p>Attribute data is information appended in tabular format to a spatial features, it provides characteristics about spatial data.</p>
					
					<p>The attribute table displays information on features of a selected layer. Each row in the table represents a
					feature (with or without geometry), and each column contains a particular piece of information about the feature.
					Features in the table can be searched, selected, moved or even edited.</p>
					
					
					<p>Right click the data layer from the Map Legend area, then click Open Attribute Table to view attributes of the data. </p>
				
					<p>As we discussed earlier, attributes of the data refer to the properties of spatial entities such as identity, province name or another
					specific information. They are often referred as spatial data since they represent location information. </p>
					
					<p>To see the attributes of the Admin Boundaries data, right click the "TZ" layer from the Map Legend area, then click Open Attribute
					Table to view attributes of the data. </p>
					
					<img src="{%static 'img/interface_11.jpg'%}"   class= 'img-responsive'>
					
					<p>Tip: </p>
					<p>Select a feature and click Zoom to selected features to focus on a specific area. </p>
					
					<p>Attribute Table is divided into three main areas: </p>
					<p>1. Toolbar: Just like the toolbar in QGIS graphical user interface, this bar holds the functions you can execute to the data in attribute table, such as select, modify or deleting the features. </p>
					<p>2. Field Names: Field name, in other words column name defines the attribute of the feature. </p>
					<p>3. Number of the Feature: Shows the number of the entry, in this case the feature. Every feature defines a polygon of the region.
					For example; number 10 defines, NAME of the feature is PEMBA NORTH, HASC is TZ.PN, CCN is 0, CCA is 54, TYPE is MKOA and ENGTYPE is REGION . </p>
					
					<p>You can select a feature, modify the attributes, delete them or duplicate using this informative dialog scene. </p>
					
					<p>Please examine the attribute values for the other layers as well. </p>

					<h2><span>Video.</span></h2>
					<div class="video-holder">
						<iframe src="https://www.youtube.com/embed/V0m2gxGFRx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<hr>
			</div>



			<div id="link3data" class="animated fadeIn">
					<h3>
						Map
					</h3>

					
					<hr>
						
						
						
						
	<h2><span>Learning Objectives</span></h2>

<p>The overall objective of this practical session is to produce a baseline GIS map using 
QGIS software. A baseline GIS map provides the foundation for a Spatial Decision 
Support System (SDSS) framework. During these exercises we will be using Iringa data to build a basic SDSS framework. By the end of this you will be able to:</p>
<ol>
	<li><p>Open QGIS and adjust the user interface</p></li>
	<li><p>Open GIS vector data layers</li>
	<li><p>Save a baseline SDSS map (as a QGIS project)</p></li>
	<li><p>Manipulate vector data layers and style properties</p></li>
</ol>




	<p>1. To learn about the structure of vector data, and how to load vector dataset into a map.</p>
	<p>2. To be able to create any symbology you want for any vector layer.</p>
<p>In this module, you will create a basic map which will be used later as a basis for further demonstrations of QGIS functionality.</p>

<h3> Simple Map Navigation in QGI</h3>
<p>Before we start adjusting and editing our base map, it is a good time to familiarise 
yourself with the Map Navigation features of QGIS if you haven’t already done so. 
Table below provides a brief description of the key Map Navigation features. </p>
<!--<h2>Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>-->
<img src="{%static 'img/createbasicmap_1.5.jpg'%}"   class= 'img-responsive'>
 <p>Spend some time familiarizing yourself with the map navigation features of 
QGIS.</p>

 <h2>Saving a QGIS Project</h2>

 <p>Before we do anything further, we need to save our current QGIS project. As 
mentioned during the overview, good file management and organisation in GIS is essential!</p>

 <p>Go to Project > Save As</p>

 <p>We will be saving our project in the QGIS_Project_Files folder, so navigate here using the browser that appears</p>
<p>Save the QGIS project as "Iringa_Base_Map" and click save
 (where you are saving the project should look like Figure below)
<img src="{%static 'img/createbasicmap_1.52.jpg'%}"   class= 'img-responsive'>

<p>Your QGIS project is now saved. We will be using this project as the basis for our 
practicals. As we make changes to our project it is very important to continue to save 
these changes in this project. Once you have saved a QGIS project, you can open 
this file from the Project menu and it will load the shapefiles and remember the 
settings of each layer etc. so that you do not have to re-create a map in QGIS</p>

 <h2>Setting some key Project Properties</h2>
<p> Before we go further, we need to set some default project properties. These are 
important later when we deal with scaling and scale-
bars etc.</p>

 <p>1. Go to Project > Project Properties...</p>

 <p>2. In the “CRS” tab, uncheck the “no projection (or unknown/non-Earth projection)” </p>

<img src="{%static 'img/createbasicmap_1.53.jpg'%}"   class= 'img-responsive'>

<p>In the “Elipsoid” tab, set it to “WGS 84” </p>
<p>In "unit for distance measurement" tab set it to "Map units(degrees)"</p>
<p>In "unit for area measurement" tab set it to "Map units(square degrees)"</p>
<p>In "Display coordinate using" tab set it to "Map units(degrees)"</p>


 <p>then press ok</p>


 <img src="{%static 'img/createbasicmap_1.54.jpg'%}"   class= 'img-responsive'>

  <p>Once this is done, save the QGIS project from the menu “Project > 

 Save” or using the “Save Project” tool bar button</p>

<h2>Working with Vector Data</h2>
<p>Vector data is arguably the most common kind of data you will find in the daily use of GIS. It describes geographic data in terms of
points that may be connected into lines and polygons. Every object in a vector dataset is called a feature, and is associated with data that
describes that feature. </p>
<h3>View Layer Attributes</h3>
<p>It is important to know that the data you will be working with does not only represent where objects are in space, but also tells you
what those objects are. </p>
<p>From the previous exercise, you should have the roads layer loaded in your map or else follow the above procedures to load iringa road layer. What you can see right now is merely the position of the
roads. </p>
<img src="{%static 'img/createbasicmap_2.jpg'%}"   class= 'img-responsive'>
    

    
<p>To see all the data available to you, with the roads layer selected in the Layers panel: Click on the Open Attribute Table </p>
<p>It will show you a table with more data about the roads layer. This extra data is called attribute data. The lines that you can see on
your map represent where the roads go; this is the spatial data. </p>
<img src="{%static 'img/createbasicmap_3.jpg'%}"   class= 'img-responsive'>
<p>You may now close the attribute table. </p>
<p>Vector data represents features in terms of points, lines and polygons on a coordinate plane. It is usually used to store discrete
features, like roads and city blocks. </p>
<h3>Loading Vector Data from Shapefiles</h3>
<p>The Shapefiles is a specific file format that allows you to store GIS data in an associated group of files. Each layer consists of
several files with the same name, but different file types. Shapefiles are easy to send back and forth, and most GIS software can read them. </p>
<p>Refer back to the introductory exercise in the previous section for instructions on how to add vector layers. </p>
<p>Load the data sets into your map following the same method:  Health centres, water bodies (Lakes) and rivers. </p>
<img src="{%static 'img/createbasicmap_4.jpg'%}"   class= 'img-responsive'>


<h2>Ordering the GIS data layers</h2>

<p>As GIS uses data layers for individual map features, the order in which these data layers lie is important to how the map will look. You can see the order of the layers in the layer / legend panel, located on the left of the main map view. Layers are ordered on the map corresponding to the order they are listed in this panel i.e. the first layer is located on the top of the map, and the last layer at the bottom of our map. To change the order of the data layers:</p>

<p> In the layer panel, click and hold the layer you want move and drag 
it up or down the list Moving the layer like this changes 
the order it appears on the map. Spend a little while changing the 
order of the layers   and observing the changes on the map.</p>

<h2>Symbology</h2>
<p>The symbology of a layer is its visual appearance on the map. The basic strength of GIS over other ways of representing data with spatial
aspects is that with GIS, you have a dynamic visual representation of the data you are working with. </p>
<p>Therefore, the visual appearance of the map (which depends on the symbology of the individual layers) is very important. The end user of
the maps you produce will need to be able to easily see what the map represents. Equally as important, you need to be able to explore the
data as you're working with it, and good symbology helps a lot. </p>
<p>In other words, having proper symbology is not a luxury or just nice to have. In fact, it is essential for you to use a GIS properly and
produce maps and information that people will be able to use. </p>
<h3>Changing colours</h3>
<p>To change a layer's symbology, open its Layer Properties. Let's begin by changing the colour of the water bodies (Lakes) layer. </p>
<p>Right-click on the water bodies (Lakes) layer in the Layers list. </p>
<p>Select the menu item Properties in the menu that appears. </p>
<img src="{%static 'img/createbasicmap_11.jpg'%}"   class= 'img-responsive'>
    
    
    
<p>Note
<p>By defaulting you can also access a layer's properties by double-clicking on the layer in the layer list. </p>

<p>In the Properties window: </p>
<p>Select the Symbology tab at the extreme left: </p>
<img src="{%static 'img/createbasicmap_12.jpg'%}"   class= 'img-responsive'>
<p>Click the colour select the dropdown button next to the colour label. A standard colour dialog will appear. </p>
<p>Choose a blue colour and click OK. </p>
<p>Click OK again in the Layer Properties window, and you will see the colour change being applied to the layer. </p>
<img src="{%static 'img/createbasicmap_13.jpg'%}"   class= 'img-responsive'>

<h3>Changing Symbol Structure</h3>
<p>This is good stuff so far, but there is more to a layer's symbology than just its colour. Next we want to eliminate the lines between
the different land use areas so as to make the map less visually cluttered. </p>
<p>-Open the Layer Properties window for the water bodies (Lakes) layer. </p>
<p>Under the symbology tab, you will see the same kind of dialog as before. This time, however, you are doing more than just quickly
changing the colour. </p>
<p>-In the single symbol panel, expand the Fill dropdown (if necessary) and select the Simple fill option: </p>
<img src="{%static 'img/createbasicmap_14.jpg'%}"   class= 'img-responsive'>
<p>-Click on the Fill style dropdown. At the moment, it should be showing a different line style. </p>
<p>-Change this to FDiagonal. </p>
<p>-Click OK. </p>
<!--<img src="{%static 'img/createbasicmap_15.jpg'%}"   class= 'img-responsive'>-->




<img src="{%static 'img/createbasicmap_16.jpg'%}"   class= 'img-responsive'>







<h3>Scale-Based visibility</h3>
<p>Sometimes you will find that a layer is not suitable for a given scale. For example, a dataset of all the continents may have low detail,
and not be very accurate at street level. When that happens, you want to be able to hide the dataset at inappropriate scales. </p>
<p>In our case, we may decide to hide the buildings from view at small scales. The buildings are hard to distinguish at that scale. </p>
<P>Add the building layer</P>
<p>Change fill style of Iring layer to no brush.</p>
<p>Turn of other layers except building and iringa layer</p>


<img src="{%static 'img/createbasicmap_17.jpg'%}"   class= 'img-responsive'>
<p>Open the Layer Properties dialog for the buildings layer. </p>
<p>Activate the Rendering tab. </p>
<p>Enable scale-based rendering by clicking on the checkbox labelled Scale dependent visibility: </p>
<img src="{%static 'img/createbasicmap_18.jpg'%}"   class= 'img-responsive'>
<p>Change the Minimum value to 1:100,000. </p>
<p>Click OK. </p>
<p>Test the effects of this by zooming in and out in your map, noting when the buildings layer disappears and reappears. </p>
<p>Note: </p>
<p>You can use your mouse wheel to zoom in increments. Alternatively, use the zoom tools to zoom to a window: </p>



<h2>Labelling the GIS layers</h2>
<p>It is now time to add some additional information to our map. One of the easiest and most effective ways to do this is to use the label feature. 
We will be labelling our Iringa layer, as well as our Building layer (when zoomed in).</p>

<p>Right-click on the Iringa layer and select “Properties” (or 
double-click on the layer).</p>

<p>Click on the “Labels” tab 

<p>Check the “Label this layer with” option</p>

<p>Choose the field  you want to use as the layer (For Settlements we will 
use the “Name” field”)</p>

<p>In the “Text” settings make sure the colour is black and the text size is around 8</p>
<img src="{%static 'img/createbasicmap_18.5.jpg'%}"   class= 'img-responsive'>

<p>Click on the “Buffer” section and check the “Draw text buffer” option 
and make sure the colour is set to white (this will create an outline 
around the label to make it a little clearer on the map)</p>
<img src="{%static 'img/createbasicmap_18.6.jpg'%}"   class= 'img-responsive'>
 <p>Press OK once these settings have been adjusted and view the 
additions made to your map</p>

<p>Save Your Project</p>


 <h2> Adding Scale-bar and North Arrow to the Map Window</h2>
 
 <p>A good map should always include features such as a scale bar and a north arrow. 
We can add these to our Map Window using the "View > Decorations" menu.</p>
<img src="{%static 'img/createbasicmap_18.7.jpg'%}"   class= 'img-responsive'>
	
<p>In each menu item check the "enable" option and press OK (i.e. Enable scale-
bar; Enable North Arrow)</p>
<p>Save Your Project</p> 
<br><br><br><br><br><br>

			</div>
			
			
</div>

			<div id="link4data" class="animated fadeIn">
					<h3>
						Print
					</h3>

<p>This practical  aims  to  familiarize the  you  with  the  Print 
Composer, the tool that QGIS includes to create map layouts. We will be creating thematic maps with the outcomes of the above Practical.</p>

<h3>Introduction to Print Composer</h3>
<p>In order to share our data, we must produce maps and export to other formats for 
printing. After you have arranged your layers to create a good map layout in your 
viewer, you will use the Print Composer tool in QGIS to format your maps and include multiple elements in a single layout. </p>

<p>Opening the Print Composer provides you with a blank canvas to which you can add 
the current QGIS map canvas, legend, scale bar, images, basic shapes, arrows and 
text </p>

<p>Legend, scale bar and title are features which should always be included in a map 
composition. The compass arrow can be omitted as the QGIS map canvas is always 
oriented with the north at the top.  </p>

<p>Open the map project we created in the above Practical by selecting it from list of recent projects.</p>

<p>Open Print Composer by selecting project > layout manager in the drop-down 
menus or select the button corresponding to new print layout in the tool bar</p>

<p>Note: Layout Manager<img src="{%static 'img/q_p_intro_print1.jpg'%}"   class= 'img-responsive'> button allows us to access to the different composition in progress and manage them; showing, removing, closing and so on. </p>

<p>When prompted give the new map composition the title name of Iringa</p>
<img src="{%static 'img/q_p_intro_print2.jpg'%}"   class= 'img-responsive'> 

<p> 1. Click on the Add new map button and click-and-drag a rectangle over the blank workspace to add your current map view to the Print Composer</p>
<img src="{%static 'img/q_p_intro_print3.jpg'%}"   class= 'img-responsive'> 
<br>
<img src="{%static 'img/q_p_intro_print4.jpg'%}"   class= 'img-responsive'> 

<p>In order to adjust the map view to the canvas extent, under the Item properties tab, click on the 
Set to map canvas extent button. </p>
<img src="{%static 'img/q_p_intro_print5.jpg'%}"   class= 'img-responsive'> 

<p>To move layers within the map element select the map element, click the Move 
item content <img src="{%static 'img/q_p_intro_print6.jpg'%}"   class= 'img-responsive'> and move the layers within the map element frame with the left mouse button.</p>  

<p>If you want to zoom in/out to/from a certain area of Iringa, hold down the "Ctrl"
 key in your keyboard while scrolling up or down with the mouse wheel. </p>

<p>To add a frame around the map view, make sure that the Frame option is ticked on under Item properties tab.</p>
<img src="{%static 'img/q_p_intro_print7.jpg'%}"   class= 'img-responsive'>

<p>To lock the element position within the print composer canvas. select the lock option underneath the Item tab. You can also go to the Item Properties tab and enable the option Lock layers for map item. This will fix this map layer.</p>

<p><span>Adding a Scale Bar </span></p>

<p>Add a scale bar to the map using the Add new scale bar tool and dragging a box on  the  map.  If  we  have  enabled  the  option on-the-fly  projection and  set to the map units, your scale bar will be displayed in kilometres (metric units) as this corresponds to the map units. Otherwise, your scale bar will be set in degree units.</p>
 <img src="{%static 'img/q_p_intro_print8.jpg'%}"   class= 'img-responsive'>

 <p>You can adjust the style and numbering under the Item Properties tab while the 
scale bar is highlighted. Open the Item properties tab at the right of the PRINT 
COMPOSER window in order to adjust the different parameters available for this 
feature.  Notice  that  this  tab  is  shared  by  any  feature  added  to  our  map composition</p>
 <img src="{%static 'img/q_p_intro_print9.jpg'%}"   class= 'img-responsive'>

 <p>You can alternatively adjust front, size, appearance of the scale bar and other 
parameters through the options available at the Item properties tab. </p>

<p><span>Adding a Legend </span></p>

Add a legend to the map by selecting the Add new legend tool and click to any place on the layout. 

 
 <img src="{%static 'img/q_p_intro_print10.jpg'%}"   class= 'img-responsive'> 
<p>Use the options under the Item properties tab to adjust the legend to your liking. </p> 
 <img src="{%static 'img/q_p_intro_print11.jpg'%}"   class= 'img-responsive'>


<p>Under Main  properties option,  change  the  legend  title  and  write 
Iringa. Afterwards, click on legend item drop down button under 
Fonts panel  and  change  the  title  format;  underline,  bold 
and  letter  size  12. </p> 
<img src="{%static 'img/q_p_intro_print12.jpg'%}"   class= 'img-responsive'>

<p><span>Adding Title and North Arrow</span></p>

Add a title to the map using the Add new label <img src="{%static 'img/q_p_intro_print13.jpg'%}"   class= 'img-responsive'>tool.  
<p>Adjust the text under the item tab, and size and position by dragging the blue squares on the map. When adding a new label, the Item Properties tab pops up enabling you to change title content and font properties. </p>

<img src="{%static 'img/q_p_intro_print13.jpg'%}"   class= 'img-responsive'>

<p>Under Main properties panel, change the map title and write Iringa Map
(by default it should be titled ‘QGIS’). Click on Font button  under Appearance on Main  properties panel  and  change  the  title  format; underline, bold and letter size 16. Finally, under Alignment panel check the Center and Middle option in both  Horizontal  and  Vertical  alignment  settings respectively</p>


<p>To add a North Arrow to the map, use the Add image tool. Click on the map to place a box, and choose a north arrow from the images on the right, under Search directories panel. </p>
<img src="{%static 'img/q_p_intro_print14.jpg'%}"   class= 'img-responsive'>

<p><span>Print Layouts: exporting you maps</span></p>
<p>The layout tab allows you to set paper size, orientation, the print quality for the output file in dpi (resolution) and to activate snapping to a grid of a defined resolution.</p>  

<p>You can also activate the Print as raster checkbox. This means all elements will be rastered before printing or saving as Postscript of PDF. </p>

<br><br><br><br><br>

			</div>
	</div>		



		</div>
	
</main>
        
      
      {% endblock %}   