
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>
<
        <title>GIS4LIFE </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
            
        <link rel="stylesheet" href="{% static 'accounts/style12.css' %}">
        <!--<link rel="stylesheet" href="{% static 'home/house.css' %}">-->
         
         <meta name="viewport" content="width=device-width, initial-scale=1.0"   

        

    </head>


    <body>
    <img src="{%static 'img/mmm10.jpg'%}"   class= 'img-responsive'>
     
     
<br>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
    </div>  
          <div id="navbar" class="navbar-collapse collapse">
              {% if user.is_authenticated %}
            
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'home:home'%}">Home</a></li>
                <li><a href="{% url 'home:chat'%}">Talk to Others</a></li>
                <li><a href="{% url 'home:index'%}">Register</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href= "{% url 'accounts:view_profile'%}">Profile</a></li>
                <li><a href="{% url 'accounts:edit_profile'%}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:change_password'%}">Change Password</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
            </ul>


              {%else%}

           <ul class="nav navbar-nav navbar-left"> 
                <li><a href="{% url 'home:home'%}">Home</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
               <li><a href="{% url 'accounts:login'%}">Sign in</a></li>
               <li><a href="{% url 'accounts:register'%}">Sign up</a></li>
                <li><a href="{% url 'accounts:reset_password'%}">Reset Password</a></li>
            </ul>
            {%endif %}

    </div>
    

 </nav>
   
  
       
            <div class="container">
          
        <div class="container-fluid">
        <div class="container">
          
          <h1 class="display-3"><span>GIS ONLINE!</span></h1>
          
          <p>This Platform is dedicated for GIS Training only. We know that getting started with GIS is difficult,
          however, by using well crafted videos and tutorials from this site you will be able to learn the most
          complicated concepts of GIS in an easy way and becomes GIS proffessional within a short period of time.
          When you complete a course, you will receive a recognized certificate of completion. There are two main courses categories, that is Basic GIS
          and Advaced GIS, on each category there is a list of courses which you can register on. Click the link below to see the detail of each category.
          <span>Remember;  You must sign in to register for a Class</span>.</p>
          
          <ul class="nav navbar-nav navbar-left">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In &raquo;</a></p>
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:register'%}" role="button">Sign up &raquo;</a></p>
          </ul>
          
        
        </div>
      </div>
        <br>
      
                          <h1>READ THIS!</h1> 
                       <div class= wrapper>
                        

<P>After Sign in you will see the list of available courses, click on your choice and follow the registration process. After registration,
a payment page  with payment options will pop up. Chose your option and complete the transaction, then within two
business days, you we will receive an e-mail with links to start your course.  <br>You will also be given informations on how to download and
install open source GIS (QGIS), if you chose to use commercial licenses such as ArcGIS we will send you a setup files as well as instructions
for installation and configuration.
<br><br> There are two major challenges when it comes to online courses, WE KNOW THEM AND WE HAVE SOLUTIONS FOR THEM. <span> To address the challenge
of internet cost, we will send you a video downloader to download all of our videos and watch them while offline. Our step by step instructions is very easy
to follow but you still might get stack somewhere, to address such challenges, we offer live support by remote your PC
and solve it together.</span> Payment by instalment is allowed, contact us for more information </P>

</div>
        
        <br><br>       
                <div class="container">
                  
                      <div class="row">
                        
                        <div class="col-md-4">
                          <h3><a href="#BASIC" role="button">Basic GIS </a></h3> 
                        </div>
                        
                        <div class="col-md-4">
                          <h3><a href="#ADVANCED" role="button">Advanced GIS </a></h3> 
                        </div>
                        
                        <div class="col-md-4">
                          <h3><a href="#TAILOR" role="button">Tailor made Course </a></h3> 
                        </div>
                        
                        <div class="col-md-4">
                          
                          <h3><a href="#GIS" role="button">What is GIS </a></h3> 
                        </div>
                        
                </div>
        </div>
        </div>
        
       <h2>Watch sample Free video</h2>
    
       <div class = "container">
        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-16by9">
      <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  
        </div>
        </div>
       </div>
        <br>    
        <div class="col-md-4">
        <div class= wrapper>
            
       <h3>GIS  Book (Swahili Version)</h3>
        
        <p>Lack of General knowledge about GIS technology in the society is a single contributing factor to the slow acceptance of GIS technology. <br>
This book is meant to brings GIS to life to Swahili speaking community of East Africa and beyond. GIS technology is for everybody to understand and use
it because it provides a critical framework for understanding, communicating, and organizing information about our world.  <br>
And because new technology must be delivered in such a way that majority of the people can
undestand easly this book is writen in swahili language to reach as many swahili speaking population as possible.</p>

 <br>
            
<p>Watch Video</p>
        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1iPI5uEXC4I?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


       </div>
        </div>
       </div>
        </div>
        

 
  
 
 <div class="col-md-8">           
     
<h1><a name= BASIC></a> Basic GIS</h1>

<p> Under this category you will be able to learn the following courses; <hp><a href="#gisintrod" role="button">Introduction to GIS</a></hp>,
<hp><a href="#gpsintro" role="button">Introduction to GPS</a></hp>, <hp><a href="#googleintro" role="button">Introduction to Google Earth</a></hp>,
<hp><a href="#ganalysisintro" role="button">Introduction to GIS Analysis</a></hp> and <hp><a href="#catogintro" role="button">Introduction to Catography</a></hp>.
Click the Course for more information. Sign in to register for a course</p><br>

<h2><a name= gisintrod></a> Introduction to GIS</h2>
<p>Are you new in GIS? You dont know where to start? Introduction to GIS will set stage for you to become a GIS proffessional within a short period of time. As you are here i am guessing that
the term GIS has came to your mind at work or ar school. Maybe your organization has decided to start using GIS to make better sense of their data, or you were
looking into ways to map your data, or may be you want to learn GIS to get a new job, this course will answer all your question.

<br> This course will provide foundational knowledge of a GIS and show how it can be used to acquire geographic knowledge.
You will explore GIS maps and use tools to gather information that you can use for decision-making at work or in your daily life.<br><br>
Introduction to GIS is meant for begginners, from various professional sectors who have no knowledge about GIS, includes public health, water resources, urban planning, Forestry and others.
It is perfect for someone who wants to apply for a GIS job or GIS Specialist job position. Anyone who wants to learn how to access and do basic GIS staff must start with this course.<br>
</p>
<p class= redtext>Under this course we will cover the following Contents;
    <ol style="list-style: decimal inside;">
  <li>What is GIS</li>
  <li>GIS Concepts</li>
   <li>How GIS works</li>
  <li>Coordinate system</li>
  <li>GIS data types</li>
  <li>Navigating a GIS map</li>
  <li>Finding Information</li>
  <li>Data entry</li>
  <li>Data storage</li>
  <li>Online GIS</li>
</ol>  
On top of all these you will learn how to installation and configurations GIS Software and
</p>.

<p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p>


<div class= wrapper>
    
<h2><a name= gpsintro></a> Introduction to GPS</h2>
<P>This course introduce you to the Global Positioning System (GPS) and how it can be used in surveying and data collection.
 Emphasis is
on GPS applications related to mapping, engineering and construction projects. This course is primarily aimed at
the beginners surveying/engineering technicians and anyone who is planing to collect spatial data.</P>
<p class= redtext>You wil learn about GPS surveying equipment, setting GPS, Data collection procedures, upload and using GPS data into GIS system.</p>
<p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p> 




 
 
 
 
<br><br><br><br><br><br><br><br><br><br><br><br>
<br>
    
<h3><a name= ADVANCED></a> Advanced GIS</h3>

<p> Advanced GIS analysis, but also advanced editing, geoprocessing and thematic mapping techniques. Automation of ArcGIS workflows, using the application ModelBuilder and
            scripting in the Python programming language, constitutes central course elements. Sign in to see the list of available courses </p>
<p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p>            

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<h3><a name= TAILOR></a> Tailor made Course</h3>

<p> A tailor-made training is designed to meet your specific needs and requirements. You sets the objectives and the topics
To request for a tailor made course please log in and feel the form. Before requesting for tailor made course check to see if it is already available</p>
<p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p>   

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
    

<h3><a name= GIS></a> What is GIS?</h3>

<P>GIS stands for Geographic Information Systems. It is a technology that allows us to visualize and interact various features and their informations to see their relationship on the map. <br>
GIS integrates databases with the locations of features (maps tied to specific known locations).
Geographic Information System (GIS) helps people visualize and create information that can be used to make decisions and solve problems.
A geographic information system (GIS) lets us visualize, question, analyze, and interpret data to understand relationships, patterns, and trends of features and events.
GIS benefits organizations of all sizes and in almost every industry.</P>
<P>A GIS (geographic or geospatial information system) allows us to record the information and show the location of anything(any feature) available on
the earth(longitude or latitude) and then to add additional information of other features.  The GIS then allows the individual layers, or themes as they
are called to be linked. Analysis of the information can then be undertaken using the statistical
and analytical tools that are provided as part of the GIS.  By providing spatial analysis of suitably coded data it is possible
to provide striking, visual representations of data.  These representations can often reveal patterns and trends that might otherwise have gone unnoticed
without the use of GIS techniques. Visual representations of this type can also be extended further so that more considered and objective means of measurement
are applied.  Such approaches allow macro views to be taken in many fields.  Epidemiologists are interested in the global spread of disease occurrence;
criminologists are interested in local, national and international patters of criminal activity whilst geologists are interested in physical formations to
predict earthquake activity and the availability of resources such as oil and gas.  None of these disciplines would be able to work as they currently do without
the ability to apply analytical tools to otherwise disparate sets of data in the way a Geographical Information System permits.
</P>
   <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p> 
  
<br><br><br><br><br><br><br><br><br><br><br><br><br>
    


<h2><a name= gpsintro></a> Introduction to GPS</h2>
<P>This course introduce you to the Global Positioning System (GPS) and how it can be used in surveying and data collection.
 Emphasis is
on GPS applications related to mapping, engineering and construction projects. This course is primarily aimed at
the beginners surveying/engineering technicians and anyone who is planing to collect spatial data.</P>
<p class= redtext>You wil learn about GPS surveying equipment, setting GPS, Data collection procedures, upload and using GPS data into GIS system.</p>
<p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In </a></p> 

<h2><a name= googleintro></a> Introduction to Google Earth</h2>
<p><a href="#top" role="button">Sign in to register for a class </a></p>
<h2><a name= ganalysisintro></a> Introduction to GIS Analysis</h2>
<p><a href="#top" role="button">Sign in to register for a class </a></p>
<h2><a name= catogintro></a> Introduction to Catography</h2>
<p><a href="#top" role="button">Sign in to register for a class </a></p>



        </div>
    </body>

        
 




    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>
    </body>
    
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script> 
    
    <script
       src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
       crossorigin="anonymous"></script>
    
    
</html>