
{% extends 'base.html' %}



 
   {% block body %}
        <div class="container">
          <h1 class="display-4">GIS4LIFE Online College!</h1>
          
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">GIS ONLINE!</h1>
          <p>This is an Online   Platform for GIS Training. We know that getting started with GIS can be difficult.
          However, by using well crafted videos and tutorials you will learn the most
          complicated concepts of GIS in an easy way and becomes GIS proffessional within a short period of time.
          When you complete your course, you will receive a certificate of completion, which will help you to demonstrate your accomplishments,
          which you can share with co-workers and potential employers. For more detail on Each class category read the link below.
          Remember; You must login to join the Class.</p>
          <ul class="nav navbar-nav navbar-left">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In &raquo;</a></p>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:register'%}" role="button">Sign up &raquo;</a></p>
          </ul>
        </div>
      </div>

      <div class="container">
        
        <div class="row">
            
          <div class="col-md-4">
            <h2><a href="#BASIC" role="button">Basic GIS &raquo;</a></h2> 
          </div>
          
          <div class="col-md-4">
            <h2><a href="#ADVANCED" role="button">Advanced GIS &raquo;</a></h2> 
          </div>
          
          <div class="col-md-4">
            
            <h3><a href="#GIS" role="button">What is GIS &raquo;</a></h3> 
          </div>
          
        </div>
        </div>
     

    </main>
        </div>
        
        
<h2><a name= BASIC></a> Basic GIS</h2> 
<p>Basic GIS is for begginners. Inside the basic GIS you will be able to learn the following courses; Introduction to GIS, Introduction to GPS, Introduction to Google Earth/Map, Introduction to GIS Analysis and Introduction to Catography.
 Sign in/ Sign up to register for a course</p>
            <!--<p><a class="btn btn-secondary" name="#BASIC GIS" role="button">View details &raquo;</a></p>-->

<h2><a name= ADVANCED></a> Advanced GIS</h2>
<p>The course covers selected, sophisticated methods for GIS analysis, but also advanced editing, geoprocessing and thematic mapping techniques. Automation of ArcGIS workflows, using the application ModelBuilder and
            scripting in the Python programming language, constitutes central course elements. Sign in/ Sign up to see the list of available courses </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->


<h2><a name= GIS></a> GIS?</h2>
<P>GIS stands for Geographic Information Systems. GIS is a mapping technology that allows the user to create
and interact with a variety of maps and data sources. <br>
GIS integrates databases with georeferenced spatial data (maps tied to specific known locations).
    Geographic Information System (GIS) helps people visualize and create information that can be used to make decisions and solve problems. A geographic information system (GIS) lets us visualize, question, analyze, and interpret data
            to understand relationships, patterns, and trends. GIS benefits organizations of all sizes and in almost every industry..</P>
        

   {% endblock %}
