
{% extends 'base.html' %}




   {% block body %}
        <div class="container">
          <div class="jumbotron">
           <h2>Available Courses</h2>
           
           {% for category in categories %}
               <h2>{{category.name}}</h2>
               {%for item in category.item_set.all %}
                   <a href="{% url 'home:item' item_id=item.id %}"> {{item.name}}</a>
               {%endfor%}
            {%endfor%}
           
        </div>
        </div>

   {% endblock %}
