
{% extends 'base.html' %}




   {% block body %}
        <div class="container">
        
        <h1>List of Courses</h1>
           <!--<h3>Click on the course to register and make the payment</h3>-->
           <br>
         
              
          <!--  <div class="col-md-4">-->
               
               
           {% for category in categories %}
               <h3>{{category.name}}</h3>
               
               {%for item in category.item_set.all %}
                  
                   <h3><a href="{% url 'home:item' item_id=item.id %}"> <ul>Course: {{item.name}}</ul></a></h3>
                   
               {%endfor%}
            {%endfor%}
           
        <!--</div>-->
               
          
        </div>
        
        
        </div>
      <br><br>   <br><br>   
<!--<div class="col-md-4">
   <div class="container">
      
   <h3>FREE COURSES</h3>
   
</div>-->
           </div>
   {% endblock %}

          