
{% extends 'base3.html' %}

{% load staticfiles %}


   {% block body %}
       <br>  <br>  <br>  <br>
        <section class="section">
	    <div class="container">
			<small>
							<span class="caps">Courses</span>
						</small>
                        <div class="line-sep"></div>
                
                <div class="section-title">
			    Click on the course for detail and Joining page.	
		    </div>
                <hr>
                <div class="row">
                     <div class="col-md-6">
                        
                        
                        
                       
						
                        
                        
                       {% for category in categories %}
                           
		    
                           <h3>{{category.name}}</h3>
                            
                           
                           {%for item in category.item_set.all %}
                              
                               <h3><a href="{% url 'home:item' item_id=item.id %}"> <ul> {{item.name}}</ul></a></h3>
                            
                           {%endfor%}
                        {%endfor%}
          
                    </div>
                </div>
            </div>
        </section>
        
        
     
      <br><br>   
          
   {% endblock %}

          