
{% extends 'base.html' %}

    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}
      <div class="container">
    <a href="{% url 'home:index' %}">&lt; Back to the list</a>
    
    {% if item != None %}
        
        <!--<h3>{{item.category.name}}</h3>-->
        <h4>{{item.name}}</h4>
        <p>{{item.description}}</p>
        
        <br><br>
        <ul class="nav navbar-nav navbar-left">
        <p><a class="btn btn-primary btn-lg "href="{% url 'home:register' item_id=item.id %}"> Register</a></p>
        
        </ul>
        
        
        <ul class="nav navbar-nav navbar-right">
         
          
          
        <h3>Thanks for the registration, now <a class="btn btn-primary btn-lg"href="{% url 'home:payment' item_id=item.id %}"> Make Payment</a></h3>
        </ul>
      
      </div>
    {% else %}
            <p>Invalid Item ID.</p>
    {% endif %}
       
        
    </div>





   {% endblock %}