
{% extends 'base.html' %}
{% load staticfiles %}

    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}
      
      
      <!--<div class="container">-->
    
                <a href="{% url 'home:index' %}">&lt; Back to the list</a>
               
      
         
                      <div class="container">
                            <small><span class="caps">Course</span></small>
                            <div class="line-sep"></div>
                              
                                {% if item != None %}   
                                    
                                <div class="section-title">{{item.name}}</div>
                                    <hr>
                      </div>
                     
               
                
                                <section class="section grey-scale">
                     <div class="container">
                                        
                                <div class="row">
                                    <div class="col-md-7"><h3>Descriptions</h3>{{item.description}}</div><br>
                                   
                                    <div class="col-md-5">
					<div class="card right-in">
					    <div class="card-icon">
                                                <ul class="tutor-icons">
                                                    <div class="flex f-end f-col">  
                                                    <br>
                                                    <h4><a class="btn btn-info btn-lg "href="{% url 'home:register' item_id=item.id %}"> Register </a></h4></li>                                                       
                                                    </div>
                                                </ul><br>
                                                    <div class="flex f-end f-col">
                                                        <h3>Only {{item.price}} USD</h3>
                                                    </div><br>
                                                <ul class="tutor-icons">                                                          
                                                     <div class="flex f-end f-col">               
                                                                    <h3> <a class="btn btn-follow "href="{% url 'home:payment' item_id=item.id %}">I want to Pay </a> </h3> </li>
                                                     </div>  
                                                </ul>
                                                  <br>
                                                   <hr>
                                                  <div class="text-left">
                                                    <h5>Includes</h5>
                                                 <div class="line-sep"></div>
                                                  
                                                  </div>
                                                  
                                                  <ul class="tutor-icons"> 
                                                
                                                1. Videos tutorial<br>
                                                2. Reading tutorials<br>
                                                3. Downloadable resources<br>
                                                4. Full lifetime access<br>
                                                5. Access on Laptop and mobile<br>
                                                6. Certificate of Completion<br>
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>      
                                {% else %}
                                                <p>Invalid Item ID.</p>
                                {% endif %}
                                                                
                              </div>
                    </div>
                </section>
                
      <br>
                
                <div class="container"
        <section class="section">
            
                 
                
                 <div class="col-md-12">
						<h1>About the Instructor</h1>
                                                <div class="row">
							<div class="col-md-6">
                                                            
								<div class="tutor">
                                                                    
									<div class="tutor-image">
										
										<img src="{%static 'img/eeeee.jpg'%}" class="img-responsive" alt=""'>	
									</div>

									
                                                                        
                                                                        <div class="text-center">
										<h4>
											Overblessing A Msuya
										</h4>
										
                                                                                <hr>
									</div>

									<p>4.1 instructor Rating</p>
                                                                        <p>237 Reviews</p>
                                                                        <p>782 Students</p>
                                                                        <p>2 Course</p>
									    
								</div>
							</div>
                                                        
                                                        <div class="col-md-6">
                                                            <div class="link">
								Mr Overblessing Msuya
                                                        </div>
									<h5>GIS instructor and consultant</h5>

									<div class="text-left">
										<p>
											Through his work on GIS Analysis since
                                                                                        2010, Msuya saw GIS to be a perfect opportunity to tie together
                                                                                        his interests in conservation and all things map. With a background
                                                                                        in Forestry, a masters in Geographical Information System and
                                                                                        a certification in GIS, the launch of OBGIS was a natural 
                                                                                        progression.</p>
                                                                                        <P>Mr Overblessing have now worked in several countries worldwide on projects ranging from
                                                                                        on the ground data capture in USA to Web app development in Tanzania.
                                                                                        At the core of OBGIS is a desire and enthusiasm to share knowledge and ideas through
                                                                                        training and collaboration.
										</p>
										
                                                                             
									</div>

									
							</div>


        </section>
        
      </div>
           <hr>
            
            <div class="col-md-10">
                 <h2>Who is the target Audience?</h2>
                 <p>{{item.audience}}</p>
                 <h2>Course Content</h2>
                 {{item.content}}
                 <br><br>
            </div>

   {% endblock %}
   
   <br>