
{% extends 'base3.html' %}
{% load staticfiles %}

    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}
      
      
      <!--<div class="container">-->
    
                <a href="{% url 'home:index' %}">&lt; Back to the list</a>
               
      
         
                      <div class="container">
                            <small><span class="caps">Course</span></small>
                            <div class="line-sep"></div>
                              
                                {% if item != None %}   
                                    
                                <div class="section-title">{{item.name}}</div>
                                    <hr>
                      </div>
                     
               
                
                                <section class="section grey-scale">
                     <div class="container">
                                        
                                <div class="row">
                                    <div class="col-md-7"><h3>Descriptions</h3>{{item.description}}</div><br>
                                   
                                    <div class="col-md-5">
					<h3>Price {{item.price}} USD</h3>
					<div class="card right-in">
					    <div class="card-icon">
                                                <br><br>
						<ul class="tutor-icons">
                                                   
                                                    <br><br> 
						    
                                                    <h4><a class="btn btn-follow btn-lg "href="{% url 'home:register' item_id=item.id %}"> Join Now</a></h4></li>                                                       
                                                    
                                              
						</ul>
                                                    
                                                
                                                  <br>
                                                   <hr>
                                                  <div class="text-left">
                                                    <h5>Includes</h5>
                                                 <div class="line-sep"></div>
                                                  
                                                  </div>
                                                  
                                                  <ul class="tutor-icons"> 
                                                
                                                1. Tutorial in video format <br>
                                                2. Tutorial in Reading format<br>
                                                3. Downloadable resources<br>
                                                4. Full lifetime access<br>
                                                5. Access on Laptop and mobile<br>
                                                6. Certificate of Completion<br>
						  
                                                 </ul>
						  <br>
						    <hr>
						 <p> If you already registered go to <a class="btn btn-info btn-sm "href="{% url 'home:payment' %}"> Payment Detail</a> </p>
                                            </div>
                                        </div>
                                    </div>      
                                {% else %}
                                                <p>Invalid Item ID.</p>
                                {% endif %}
                                                                
                              </div>
                    </div>
                </section>
                
      <br>
                
                <div class="container"
        <section class="section">
            
                 <small><span class="caps">Instructor</span></small>
                            <div class="line-sep"></div>
                
                 <div class="col-md-12">
						<h1>About the Instructor</h1>
                                                <div class="row">
							<div class="col-md-6">
                                                            
								<div class="tutor">
                                                                    
									<div class="tutor-image">
										
										<img src="{%static 'img/eeeee.jpg'%}" alt=""'>	
									</div>

									
                                                                        
                                                                        <div class="text-center">
										<h4>
											Overblessing A Msuya
										</h4>
										
                                                                                <hr>
									</div>

									<p>4.1 instructor Rating</p>
                                                                        <p>237 Reviews</p>
                                                                        <p>782 Students</p>
                                                                        <p>2 Course</p>
									    
								</div>
							</div>
                                                        
                                                        <div class="col-md-6">
                                                            <div class="link">
								Mr Overblessing Msuya
                                                        </div>
									<h5>GIS instructor and consultant</h5>

									<div class="text-left">
										<p>
											Through his work on GIS Analysis since
                                                                                        2010, Msuya saw GIS to be a perfect opportunity to tie together
                                                                                        his interests in conservation and all things map. With a background
                                                                                        in Forestry, a masters in Geographical Information System and
                                                                                        a certification in GIS, the launch of GIS4LIFE was a natural 
                                                                                        progression.</p>
                                                                                        <P>Mr Overblessing have now worked in several countries worldwide on projects ranging from
                                                                                        on the data capture in USA to Web app development in Tanzania.
                                                                                        At the core of GIS4LIFE is a desire and enthusiasm to share knowledge and ideas through
                                                                                        training and collaboration.
										</p>
										
                                                                             
									</div>

									
							</div>


        </section>
        
      </div>
           <hr>
            
            <div class="col-md-10">
                 <h2>Who is the target Audience?</h2>
                 <p>{{item.audience}}</p>
                 <h2>Course Content</h2>
                 {{item.content}}
                 <br><br>
            </div>

   {% endblock %}
   
   <br>