



{% extends 'base.html' %}

   {% block body %}
        
            
            <div class="container-fluid">
        <div class="container">
         
                
                 
                   <h3 class="redtext">Note: After payments send the payment refference number and your name through whatsapp at +255653397942, then
                           click <a class="btn btn-success" href="{% url 'home:chat'%}">My Courses</a> within two hours to start your course.</h3>
                <br>
                  <h1>Payment Options</h1>      
                      
                         <ol style="list-style: decimal inside;"> 
                        <h3> <span>1. M Pesa +255753386304</span></h3>
                        <h3> <span>2. Tigo Pesa +255653397942</span></h3>
                        <h3> <span>3. CRDB BANK A/C 0152303138800</span></h3>
                        
                           <p> Accounts Holder:Overblessing Msuya.</p>
                           
                           
                           
                          
                          
                           
                             <h3> <span>4.paypal</span></h3>     
                    
          
      </div>
            
         
          <form action = "https://paypal.com/cgi-bin/webscr" method= "post" target="_top"
                
       <input type="hidden" name="cmd" value="_s-xclick">
       <input type="hidden" name="hosted_button_id" value="5XSG8PPLJ9APJ">
       <input type="hidden" name="on0" value="Course">
         <select class="form-control" name="os0">
             <option value="Basic">Basic Class $150.00 USD</option>
             <option value="Advance">Advanced Class$300.00 USD</option>
         </select>
         <br>
         <input type="hidden" name="currency_code" value="USD">
         <input type='submit' >
          </form>
          <br>
    
        </div>

   {% endblock %}
