
{% extends 'base.html' %}

    



        
{% block body %}
        

      <div class="row">
            <main role="main">
                <h2>Almost there, one more thing!. Complete the payment.</h1>
                 
            </main>
      </div>
      
      <h2> {{item.subtitle}} is only {{item.price}} USD</h2>
      
   <!--  <h2> Click the link below to start your course {{item.link}} </h2>-->
    
   <!--  <a class="btn btn-primary btn-lg"href="{{item.link}}"> <ul>start </ul></a>-->
     
     <p><a class="btn btn-primary btn-lg "href="{% url 'home:options' item_id=item.id %}"> Payment options</a></p>
      
     <!-- <h1><span>Start Now </span></h1>-->
                  <br>   <br>     


{% endblock %}  
