
{% extends 'base.html' %}



 
   {% block body %}
        <div class="container">
          
        <h2 class="display-4"><a name= top></a> GIS4LIFE Online College!</h2>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><span>GIS ONLINE!</span></h1>
          <p>This is an Online   Platform for GIS Training. We know that getting started with GIS can be difficult,
          however, by using well crafted videos and tutorials from us you will learn the most
          complicated concepts of GIS in an easy way and becomes GIS proffessional within a short period of time.
          When you complete your course, you will receive a certificate of completion, which will help you to demonstrate your accomplishments,
          which you can share with co-workers and potential employers. For more detail on Each class category read the link below.
          <span>Remember;  You must login to join the Class</span>.</p>
          <ul class="nav navbar-nav navbar-left">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In &raquo;</a></p>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:register'%}" role="button">Sign up &raquo;</a></p>
          </ul>
        </div>
      </div>

      <div class="container">
        
        <div class="row">
            
          <div class="col-md-4">
            <h2><a href="#BASIC" role="button">Basic GIS &raquo;</a></h2> 
          </div>
          
          <div class="col-md-4">
            <h2><a href="#ADVANCED" role="button">Advanced GIS &raquo;</a></h2> 
          </div>
          
          <div class="col-md-4">
            <h2><a href="#TAILOR" role="button">Tailor made Course &raquo;</a></h2> 
          </div>
          
          <div class="col-md-4">
            
            <h3><a href="#GIS" role="button">What is GIS &raquo;</a></h3> 
          </div>
          
        </div>
        </div>
     

    </main>
        </div>
        
        
<h2><a name= BASIC></a> Basic GIS</h2> 
<p>Basic GIS is for begginners. Under this category you will be able to learn the following courses; <hp><a href="#gisintro" role="button">Introduction to GIS</a></hp>,
<hp><a href="#gpsintro" role="button">Introduction to GPS</a></hp>, <hp><a href="#googleintro" role="button">Introduction to Google Earth</a></hp>,
<hp><a href="#ganalysisintro" role="button">Introduction to GIS Analysis</a></hp> and <hp><a href="#catogintro" role="button">Introduction to Catography</a></hp>.
Click the Course for more information. Sign in/ Sign up to register for a course</p>
            <!--<p><a class="btn btn-secondary" name="#BASIC GIS" role="button">View details &raquo;</a></p>-->

<h2><a name= ADVANCED></a> Advanced GIS</h2>
<p> Advanced GIS analysis, but also advanced editing, geoprocessing and thematic mapping techniques. Automation of ArcGIS workflows, using the application ModelBuilder and
            scripting in the Python programming language, constitutes central course elements. Sign in/ Sign up to see the list of available courses </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->

<h2><a name= TAILOR></a> Tailor made Course</h2>
<p> A tailor-made training is designed to meet your specific needs and requirements. You sets the objectives and the topics
To request for a tailor made course please log in and feel the form. Before requesting for tailor made course check to see if it is already available</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->

<h2><a name= GIS></a> GIS?</h2>
<P>GIS stands for Geographic Information Systems. GIS is a mapping technology that allows the user to create
and interact with a variety of maps and data sources. <br>
GIS integrates databases with georeferenced spatial data (maps tied to specific known locations).
    Geographic Information System (GIS) helps people visualize and create information that can be used to make decisions and solve problems. A geographic information system (GIS) lets us visualize, question, analyze, and interpret data
            to understand relationships, patterns, and trends. GIS benefits organizations of all sizes and in almost every industry.</P>
        
<h2><a name= gisintro></a> Introduction to GIS</h2>
<p>Are you new in GIS? You dont know where to start? Introduction to GIS will set stage for you to become a GIS proffessional. As you are here i am guessing that
the term GIS has came to your mind at work or ar school. Maybe your organization has decided to start using GIS to make better sense of their data, or you were
looking into ways to map your data, or may be you want to learn GIS to get a new job, this course will answer all your question. <br>

This course is meant for professionals in various sectors including public health, water resources, urban planning, and others that deal with spatial data.
It is perfect for someone who wants to apply for a GIS job or GIS Specialist job position. Anyone who wants to learn how to access and do basic GIS staff must start with this course.<br>
</p>
<p class= redtext>Under this course we will cover the following; GIS Concepts, Coordinate system, data types, Data presentation, Software installation and configurations and
Data entry</p>.
<p><a href="#top" role="button">Sign in to register for this class </a></p> 

<h2><a name= gpsintro></a> Introduction to GPS</h2>
<P>This course introduce you to the Global Positioning System (GPS) and how it can be used in surveying and data collection.
 Emphasis is
on GPS applications related to mapping, engineering and construction projects. This course is primarily aimed at
the beginners surveying/engineering technicians and anyone who is planing to collect spatial data.</P>
<p class= redtext>You wil learn about GPS surveying equipment, setting GPS, Data collection procedures, upload and using GPS data into GIS system.</p>
<p><a href="#top" role="button">Sign in to register for this class </a></p> 

<h2><a name= googleintro></a> Introduction to Google Earth</h2>
<h2><a name= ganalysisintro></a> Introduction to GIS Analysis</h2>
<h2><a name= catogintro></a> Introduction to Catography</h2>

   {% endblock %}
