
{% extends 'base.html' %}



 
   {% block body %}
        <div class="container">
          <h1 class="display-4">Welcome!</h1>
          
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">GIS ONLINE!</h1>
          <p>This is an Online   Platform for GIS Training. Using a well crafted videos and tutorials you will learn the most complicated concepts of GIS in a easy way and become GIS pro within a short period of time.
          After accomplish a course you will receive a world recognized Certificate. For more detail on Each class click the link below. Remember; You must login to join the Class.</p>
          <ul class="nav navbar-nav navbar-left">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Sing In &raquo;</a></p>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:register'%}" role="button">Sign up &raquo;</a></p>
          </ul>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>BASIC GIS</h2>
            <p>Get an introduction to the basic components of a GIS. Learn fundamental concepts that underlie the use of a GIS with hands-on experience with maps
            and geographic data. These courses are for Begginners. Sign in/ Sign up to see the list of available courses</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-4">
            <h2>ADVANCED GIS</h2>
            <p>The course covers selected, sophisticated methods for GIS analysis, but also advanced editing, geoprocessing and thematic mapping techniques. Automation of ArcGIS workflows, using the application ModelBuilder and
            scripting in the Python programming language, constitutes central course elements. Sign in/ Sign up to see the list of available courses </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          
          <div class="col-md-4">
            <h2>What is GIS?</h2>
            <p>Geographic Information System (GIS) helps people visualize and create information that can be used to make decisions and solve problems. A geographic information system (GIS) lets us visualize, question, analyze, and interpret data
            to understand relationships, patterns, and trends. GIS benefits organizations of all sizes and in almost every industry.
            There is a growing interest in and awareness of the economic and strategic value of GIS. </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
        </div>
 





   {% endblock %}
