
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}



<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Gis Online Courses</title>

	<!-- icons and fonts -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins" rel="stylesheet"> --> -->

	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">  -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Niramit|Open+Sans|Varela+Round" rel="stylesheet">  -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Niramit" rel="stylesheet"> -->


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    
        <script src="{% static "accounts/js/bootstrap.min.js" %}" type="text/javascript"></script>
         <script src="{% static "accounts/js/scrollreveal.min.js" %}" type="text/javascript"></script>
         <script src="{% static "accounts/js/app2.js" %}" type="text/javascript"></script>
      
	
		
	<link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">	
	<link rel="stylesheet" href="{% static 'accounts/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/animate.css' %}">	
	
	<link rel="stylesheet" href="{% static 'accounts/css/main3.css' %}">
	
	

		
</head>

<body>


	<!-- header -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light">

			<div class="container">
                                <button class="btn menu-btn d-md-none .d-lg-none"  onclick="openNav()">
                                      <i class="fa fa-bars"></i>
                                </button>

                                <a class="navbar-brand" href="#">GIS4life</a>
                                        

                            <div id="mySidenav" class="asidenav">
                              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                              <a href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a>
                              <a href="#top">Contact &raquo;</a>
                            </div>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                        <li class="nav-item mr-20">
                                            <a class="btn btn-link "href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a>
                                        </li>
                                        <li class="nav-item">
                                            <p><a class="btn btn-link "href="#top">Contact Us &raquo;</a></p>
                                        </li>
                                </ul>
                            </div>
			</div>


                                    <div class="line"></div>
		</nav>
	</header>



	<main class="page-wrapper">
		<div class="landing">-->
			
			<div class="words-part container">
				
                                            <div class="courses-summary">
                                                    <ul class="courses-lists text-white" align="center">
                                                            <li><span><i class="fa fa-book"></i></span><span><b>6</b> Courses</span></li>
                                                            <li><span><i class="fa fa-users"></i></span><span><b>200</b> Students</span></li>
                                                            <li><span><i class="fa fa-user-circle-o"></i></span><span><b>10</b> Teachers</span></li>
                                                    </ul>
                                            </div>

				<br><br><br><br><br>
				<div class="page-title"><h1>LEARN GIS ONLINE </h1></div>
				
				<!--<div class="page-tagline text-white"><h4>GIS4life enhance your capacities with GIS, concepts, and terminology of spatial analysis and modeling</h4></div>-->


				<!--<div class="cta d-flex justify-content-center"><a href="#" class="btn btn-follow">Learn more</a></div>-->
			</div>
			
		</div>


	
	
		<section class="mb-30">
				<div class="container">
					<div class="row">
						<div class="col-md-12 flex-center f-col" >
							<div class="section-title pt-5">
								<span class="text-center newslatter-title">
									You must <a class="btn btn-follow "href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a> To register for a course. 
	          
								</span>
							</div>

							



							
						</div>
					</div>
				</div>
		</section>

		
		

		<br>

		





		<section class="section grey-scale">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						<small>
							<span class="caps">Our Strength</span>
						</small>
						<div class="line-sep"></div>
						<div class="section-title">
							<span>
								Here's why GIS4life is better place for GIS courses.
							</span>
							<span class="pl-20">
								 
							</span>
						</div>

						<!--<div class="section-tagline">-->
							<p>
								Knowledge of Geographic Information Systems (GIS) is an increasingly sought
                                                                after skill in industries from agriculture to public health. with us you will learn the skills
                                                                you need to successfully use GIS software in a professional setting. You will learn how to analyze
                                                                your spatial data, use cartography techniques to communicate your results and a lot more
							</p>
						<!--</div>-->
					</div>


					<div class="col-md-6">
						<div class="course-image bottom-in">
								
								
								<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>
						</div>
					</div>
				</div>
			</div>
			<br><br><br><br>
			
			
			<div class="quick-tabs container">
			<div class="quick-tabs-holder">
				
				<br>
				<div>
					<div class="row">
						<div class="col-md-4">
							<div class="card left-in">
								<div class="card-icon">
									
									<img src="{%static 'img/c.png'%}"  alt="fast">
							
								
								</div>

								<div class="q-tab-title">
									<p>Time Efficient</p><div class="line-sep"></div>
								</div>


								<div class="q-tabs-desc">
									<p>
										Courses are designed to suite your learning speed
										<hr>
									</p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<div class="card bottom-in">
								<div class="card-icon">
									
									<img src="{%static 'img/b.png'%}"  alt="fast">	
								</div>

								<div class="q-tab-title">
									<p>Real-life Projects</p><div class="line-sep"></div>
								</div>


								<div class="q-tabs-desc">
									<p>
										Designed to help you practice and apply the skills you learn.
										<hr>
									</p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<div class="card right-in">
								<div class="card-icon">
									
									<img src="{%static 'img/d.png'%}"  alt="fast">	
								</div>

								<div class="q-tab-title">
									<p>Certificates</p><div class="line-sep"></div>
								</div>


								<div class="q-tabs-desc">
									<p>
										When you complete a course, you will receive a recognized certificate of completion,
										which you can share with your friends, relatives, co-workers and potential employers.
										.<a href="{% url 'home:gisprac_interface' %}" > Learn more </a>


										<button type="button" class="btn btn-follow" data-toggle="modal" data-target="#exampleModalLong">Learn More 
										</button>



										<!-- Modal -->

										
										<hr>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>	
			
		</section>
                
                
                
                
                
                
      
                



		<section class="section">
			<div class="container">
				<div class="row">
                                                        

					<div class="col-md-12 mb-30">
						<div class="flex f-end f-col">
							<small>Our Courses</small>
							<div class="line-sep"></div>
							<h2>Available Courses</h2>
						</div>
					</div>

					<!-- the courses -->
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 p-0 ">
								<div class="course-image left-in">
									
									<img src="{%static 'img/h.jpg'%}" class="img-responsive" alt="">
								</div>
							</div>


							<div class="col-md-6 p-0">
								<div class="course-description flex bg-dark right-in">
									<div class="course-title">
										Begginer Courses
									</div>
									<div class="line-sep"></div>

									<div class="course-body">
										<p>Explore the world of spatial data and cartography with geographic information systems (GIS).
                                                                                Here you will learn the basics of the industry's leading software tools and qgis. Under this category you will be able to learn the following courses;
										Introduction to GIS, Introduction to GPS, Introduction to Google Earth, Introduction to GIS Analysis and Introduction to Catography.
										<a class="btn btn-follow "href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a>  to register to one of these courses.</p>

</p>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- the second course -->
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 p-0">
								<div class="course-description flex f-end bg-dark left-in">
									<div class="course-title">
										Advanced Courses
									</div>
									<div class="line-sep"></div>

									<div class="course-body">
										<p>Geographic Information Systems (GIS) Specialization, you will go in-depth with common data types (such as raster
                                                                                and vector data), structures, quality and storage. Apply your GIS knowledge in this course on geospatial analysis, focusing on analysis tools, 3D data, working with rasters,
                                                                                projections, and environment variables. <a class="btn btn-follow "href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a>  to register to one of these courses.</p>
									</div>
								</div>
							</div>

							<div class="col-md-6 p-0">
								<div class="course-image right-in">
									
									<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>
								</div>
							</div>
						</div>
					</div>



				<!-- the last course -->
				<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 p-0 ">
								<div class="course-image left-in">
								
										
										<img src="{%static 'img/j.jpg'%}" class="img-responsive" alt=""'>
								</div>
							</div>


							<div class="col-md-6 p-0">
								<div class="course-description flex bg-dark right-in">
									<div class="course-title">
										Tailor Made Courses
									</div>
									<div class="line-sep"></div>

									<div class="course-body">
										<p>Apply your GIS knowledge in this course on geospatial analysis, focusing on analysis tools, 3D data, working with rasters,
                                                                                projections, and environment variables. <a class="btn btn-follow "href="{% url 'accounts:login'%}" role="button">LogIn &raquo;</a>  to register to one of these courses.</p></p>
									</div>
								</div>
						</div>
					</div>

				</div>
			</div>
		</section>


		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<small>
							<span class="caps">Our Team</span>
						</small>
						<div class="line-sep"></div>
						<div class="section-title">
							Team of Tutors
						</div>
					</div>

					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="tutor">
									<div class="tutor-image">
										
										<img src="{%static 'img/eeeee.jpg'%}" class="img-responsive" alt=""'>	
									</div>

									<div class="text-center">
										<h4>
											Overblessing A Msuya
										</h4>
										<p>
											Head of Admission
										</p>
									</div>

									<ul class="tutor-icons">
										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-facebook"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-instagram"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>



							<div class="col-md-4">
								<div class="tutor">
									<div class="tutor-image">
										
										<img src="{%static 'img/avatar.jpg'%}" class="img-responsive" alt=""'>	
									</div>

									<div class="text-center">
										<h4>
											Rodline Blood
										</h4>
										<p>
											Certificate Unit
										</p>
									</div>

									<ul class="tutor-icons">
										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-facebook"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-instagram"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="tutor">
									<div class="tutor-image">
										<img src="{%static 'img/avatr.jpg'%}" class="img-responsive" alt=""'>	
									</div>

									<div class="text-center">
										<h4>
											Miss Monica 
										</h4>
										<p>
											Head of Training
										</p>
									</div>

									<ul class="tutor-icons">
										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-facebook"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-instagram"></i>
											</a>
										</li>

										<li>
											<a href="facebook.com" target="blank" class="bg-dark">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 py-5">
								<p class="text-center w-70 mx-auto">
									<p>With a list of many more awsome tutors and patners, we are determined to grow beyond courses, reaching more minds with videos and publications on
                                                                        GIS</p>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>









               
               
                
               
                
      
             









		<section class="section grey-scale pt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12 flex-center f-col" >
						<div class="section-title pt-15">
							<span class="text-center newslatter-title">
								Subscribe to Our Newslatter
							</span>
						</div>

						<div class="section-tagline">
							<p class="text-center newslatter-body">
								Get the best of Gis materials, meetups, events, publication and news every week <br>
								<small>No spam, We promise</small>
							</p>
						</div>



						<div class="newslatter-form">
							<form action="">
								<div class="form-group">
									<input type="text" class="form-control">
								</div>

								<div class="form-group">
									<input type="submit" value="Subscribe" class="btn btn-follow wide">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

<br><br>
		<section class="section">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<small>
                                                     <span class="caps"><a name="top"></a>contact us</span>

						</small>
						<div class="line-sep"></div>
						<div class="section-title">
							Get in touch
						</div>
					</div>
					<div class="col-md-7">
						<!--  <div class="tab">
		                          <button class="tablinks" onclick="openCity(event, 'contact')" id="defaultOpen">Contact</button>
		                </div> -->
                        
                                           
		                <div id="contact">
		                                
		                
		                    <div class="video-container">                                   
		                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5233.185493903763!2d39.27138706048278!3d-6.833484473017059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4ba5bbc1ba7b%3A0x2f4f0a88e2089417!2sKariakoo%2C+Dar+es+Salaam!5e0!3m2!1sen!2stz!4v1538828227060" frameborder="0" style="border:0" allowfullscreen></iframe>
		                    </div>
		                    
		                </div>
					</div>

<br>
					<div class="col-md-5">
						<div class="">
							<div>
								<p>
									Give us a call at <a href="tel:0653397942" class="pull-right">+255653397942</a>
								</p>

								
							</div>
                        
	
                            <hr>
                            <p class="text-center">Or <br> be classical</p>
                       
                                                <form>
                                                                <div class="form-group">
                                                                  <input type="text" class="form-control" name="" value="" placeholder="Name">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                  <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                  <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                  <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                                                                </div>
                                                                
                                                                <button class="btn btn-follow pull-right" type="submit" name="button">
                                                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                                                                </button>
                                                </form>
                        </div>
					</div>
				</div>
			</div>
		</section>

		 <section class="section-small py-5">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-3 col-sm-6">
	            <a href="#">
	              <img class="img-fluid d-block mx-auto" src="{%static 'img/logo.jpg'%}" class="img-responsive" alt="">
	            </a>
	          </div>
	          <div class="col-md-3 col-sm-6">
	            <a href="#">
	              <img class="img-fluid d-block mx-auto" src="{%static 'img/pic.png'%}" class="img-responsive" alt="">	 
	            </a>
	          </div>
	          <div class="col-md-3 col-sm-6">
	            <a href="#">
	              <img class="img-fluid d-block mx-auto" src="{%static 'img/logo.jpg'%}" class="img-responsive" alt="">
	            </a>
	          </div>
	          <div class="col-md-3 col-sm-6">
	            <a href="#">
	              <img class="img-fluid d-block mx-auto" src="{%static 'img/pic.png'%}" class="img-responsive" alt="">
	            </a>
	          </div>
	        </div>
	      </div>
	    </section>
	</main>




	<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="collapse navbar-collapse" >
<div class="web-add">
	ad
</div>
</div>


	<footer>
		<div class="footer">
			<div class="container">
				
				<div class="row">
					<div class="col-md-4">
						<div class="link-title">
							<p>
								About Us
							</p>
							<div class="separator"></div>
						</div>


						<div>
							<p>
								<p> We are a compay Aiming at changing the lives of people through easy to follow and short time centered videos on Learning GIS, the geospatial
                                                                software of modern times.</p>
							</p>
						</div>
					</div>


					<div class="col-md-2">
						

						<ul class="links">
							<p>
								Quick links
							</p>
							<div class="separator"></div>
                                                        
                                                        <li>
								<a href="">Why GIS</a>
							</li>

							<li>
								<a href="">Privacy Policy</a>
							</li>
						</ul>
					</div>

					
					<div class="col-md-3">
						

						<ul class="links">
                                                    
                                                        <li>
								<a href="">Registration process</a>
							</li>            
							<li>
								<a href="">Student Support</a>
							</li>

							<li>
								<a href="">Course Categories</a>
							</li>

							<li>
								<a href="">Become an Instructor</a>
							</li>
						</ul>
					</div>


					<div class="col-md-3">
						<div class="link-title">
							<p>
								Contact Us
							</p>
							<div class="separator"></div>
						</div>

						<p>
							3rd Floor, Imalaseko Investment Limited, <br>
							Kariakoo <br>
							P. O. Box 123 <br>
							Dar Es Salaam, Tanzania
						</p>
						<a href="tel:+255652441424" class="a-link">
							(+255) 653 397942
						</a>

						<a href="mailto:obmsuya@yahoo.com" class="a-link">
							info@gis4life.com
						</a>

					</div>


				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="social-share">
							<ul>
								<li>
									<a href="" class="fb-icon" target="blank">
										<i class="fa fa-facebook"></i>
									</a>
								</li>

								<li>
									<a href="" class="ig-icon" target="blank">
										<i class="fa fa-instagram"></i>
									</a>
								</li>

								<li>
									<a href="" class="tw-icon" target="blank">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
					<hr class="white">


					<div class="footer-bottom">
						<span>
							@2018 GIS4life
						</span>

						<span>
							
						</span>
					</div>
			</div>
		</div>
	</footer>


	<script>
			function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
	</script>




</body>



</html>
