
{% extends 'base.html' %}



{% block head %}

      <title> </title>
{% endblock %}



   {% block body %}
   <div class="Container" >
       <h1>Profile</h1>
          <p>username:{{user}}</p>
          <p>first name: {{user.first_name}}</p>
          <p>last name: {{user.last_name}}</p>
          <p>email: {{user.email}}</p>
          <p>Proffessional Description: {{user.userprofile.Proffession}}</p>
          <p>Country:{{user.userprofile.country}}</p>
          <p>Region:{{user.userprofile.region}}</p>
          <p>Website:{{user.userprofile.website}}</p>
          <p>Phone:{{user.userprofile.phone}}</p>
            
            {%if user.userprofile.image%}
          <img src="{{ user.userprofile.image.url }}" width="240">
            {%endif%}




   </div>
   {% endblock %}
