



<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>

        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Gis Online Courses</title>

	
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Niramit" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'accounts/css/materialdesignicons.min.css' %}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css"> -->


	
	  
          <link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">

        <link rel="stylesheet" href="{% static 'accounts/css/exam.css' %}">
	
	

        {% block head %}

        {% endblock %}

    </head>


    <body>
       	
	

	<header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            G4L
                           <!--  <img src="http://themedesigner.in/demo/admin-press/assets/images/logo-icon.png" alt="homepage" class="dark-logo" /> -->
                            <!-- Light Logo icon -->
                           <!--  <img src="http://themedesigner.in/demo/admin-press/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <!-- <img src="http://themedesigner.in/demo/admin-press/assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                         GIS4LIFE
                         <!-- Light Logo text -->    
                         <!-- <img src="http://themedesigner.in/demo/admin-press/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="collapse navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                    </ul>
                    
                    <ul class="navbar-nav my-lg-0">
                     
                       
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="http://themedesigner.in/demo/admin-press/assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <!-- <li role="separator" class="divider"></li> -->
                                    <li><a href="#"><i class="ti-user"></i> My Classes</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="line"></div>
        

 
       

	</header>
		
 
                    {% block body %}
                        
                    {% endblock %}
    


</body>
</html> 
